[2021-01-22 06:41] adeekshith opened #9 "Prevent duplicate replies"
![wareply](https://user-images.githubusercontent.com/2568945/105456313-91e56f80-5c4a-11eb-9eff-36e141a09905.jpg)

[2021-01-22 06:47] adeekshith opened #10 "Save MainActivity On/Off switch state"
Can create standard androidx settings activity which I believe comes with shared prefs manager by default (Correct if I am wrong). ON/OFF switch in MainActivity can also use the settings activity data manager to set/get app enabled setting.

[2021-01-22 06:48] adeekshith opened #11 "Validate auto reply text user input"
- Input cannot exceed max string length
- Input cannot be empty

[2021-01-22 06:51] adeekshith opened #12 "Implement better workflow for requesting notification access from user"
If the required permission does not exist, show a dialog explaining why we need and how to enable it. Navigate to the settings activity only after user responds to the dialog.

[2021-01-22 06:55] adeekshith opened #13 "Display privacy policy in the app"
I'll have to go through play store guidelines once again but if we are accessing private user data, play store requires us to show privacy policy in the app itself. I think accessing notifications constitute private/sensitive user data.

[2021-01-22 07:01] adeekshith opened #14 "Provide option to limit replying to the same user"
If auto reply to each text is too annoying, users can enable this setting so it only auto replies once per 5min/hour/day/3days/week/until disabled.

[2021-01-22 07:30] adeekshith opened #15 "Set min time between auto replies for the same person to prevent infinite loop"
Imagine if both users are using our app for auto reply and if one of them texts the other, that would create an infinite loop of auto replies.

Limit the time between each auto reply for the same person by at least a few seconds will solve this issue. 30 seconds to be safe?

[2021-01-23 16:12] adeekshith opened #17 "User text gets assigned to hint in main activity"
![Screenshot_1611417901](https://user-images.githubusercontent.com/2568945/105607260-6013fc00-5d63-11eb-8821-64d4306901ec.png)

[2021-01-23 16:20] #17 closed, assigned to adeekshith

[2021-01-24 02:31] spuday90 opened #19 "Start/Stop the service based on user interaction"
We need to start and stop the service as and when user wants using toggle switch

[2021-01-24 03:25] #10 closed, assigned to spuday90

[2021-01-24 05:36] adeekshith opened #21 "Disable for group chats by default and provide an option to enable"

[2021-01-24 23:32] adeekshith opened #22 "Do not reply to older replayed notifications"
WhatsApp creates notification for older unread messages after some time if the user dismissed those without reading. The app should avoid replying to those messages if there is a way to check for original message time

[2021-01-25 05:14] #12 closed, assigned to nobody

[2021-01-25 05:23] #19 closed, assigned to spuday90

[2021-01-26 06:52] adeekshith opened #27 "Rename logs package, db name, CustomDialog and fix build warning"
Changes introduced in #24 need these changes:
- [x] Rename logs package and Logs classes to `WhatsappAutoReplyLogs`
- [x] Same as above... rename db name
- [ ] Rename `CustomDialog` class to `NotificationPermissionRequestDialog`
- [x] Also there is a new warning in the build logs which might need a look:
`Schema export directory is not provided to the annotation processor so we cannot export the s

[2021-01-26 06:54] #15 closed, assigned to nobody

[2021-01-26 07:16] #11 closed, assigned to adeekshith

[2021-01-27 03:01] adeekshith opened #28 "Display couple screenshots on main README as well as on the website"
This would also cover almost all the information that we need for PlayStore

[2021-01-27 03:03] adeekshith opened #29 "Switch license to GPL"

[2021-01-27 03:11] adeekshith opened #30 "Rename app to "Watomatic""

[2021-01-27 23:07] adeekshith opened #31 "Move "Save" button to action bar"
Move "SAVE" button in the `CustomReplyEditorActivity` to action bar (top right).

[2021-01-29 03:10] #21 closed, assigned to spuday90

[2021-01-29 14:16] #27 closed, assigned to spuday90

[2021-01-31 16:25] adeekshith opened #36 "Create in-app about page"
Can have a small "About" text button on the main screen clicking on which opens a new activity.

AboutActivity should contain the following:
- App name and version
- Privacy policy (link)
- Website and Source code (link)
- Contributors (link `https://github.com/adeekshith/<wareply/watomatic>/graphs/contributors`)
- Link to @adeekshith twitter handle at the bottom (link https://twitter.com/adeekshi

[2021-02-01 05:51] #14 closed, assigned to nobody

[2021-02-01 08:08] adeekshith opened #39 "Add tagline "to help you leave WhatsApp""
Add tagline in smaller font "to help you leave WhatsApp" below this heading in main activity "Auto reply for WhatsApp"

[2021-02-01 08:13] adeekshith opened #40 "Set default message that says the user is not available on this app"
Instead of showing blank or `(Custom Reply)`, set a default message like this: "This user is not available on this app anymore."

Do not save it to database but just make it return the default message if database/sharedPrefs returns null.

[2021-02-02 03:22] spuday90 opened #43 "Move About button to toolbar menu"

[2021-02-02 03:54] #29 closed, assigned to adeekshith

[2021-02-02 03:57] #43 closed, assigned to nobody

[2021-02-02 04:22] #30 closed, assigned to adeekshith

[2021-02-02 04:22] #36 closed, assigned to adeekshith

[2021-02-02 04:23] #13 closed, assigned to adeekshith

[2021-02-02 04:23] #39 closed, assigned to nobody

[2021-02-09 06:30] #22 closed, assigned to nobody

[2021-02-09 06:33] adeekshith opened #51 "Prevent replying to notifications posted before app is enabled"
This was addressed in #22 to some extent but the right way would be to store time when the app is enabled and then avoid replying to notifications older than that.

We fixed #22 by avoiding replying to notifications older than 1 min but that logic can be flawed.

Related #22

[2021-02-09 06:49] adeekshith opened #52 "Point Privacy policy in the app to website instead of to PRIVACY.md"

[2021-02-10 03:23] adeekshith opened #55 "Works only is user's WhatsApp language is English"
Notification listener checks for "REPLY" button text and matches only in English. If users set any other language on WhatsApp, it may fail.

[2021-02-10 04:35] #55 closed

[2021-02-10 08:35] adeekshith opened #57 "App shortcut to toggle On/Off"
Long press on app icon should show shortcut to turn on/off the app

[2021-02-11 03:35] adeekshith opened #58 "Group chat switch resets on load"
How to reproduce,
turn the group chat setting on -> close and reopen the app and you'll see the group chat setting is Off

[2021-02-11 03:52] #52 closed

[2021-02-11 04:18] #58 closed

[2021-02-11 04:34] adeekshith opened #62 "Group chat Toast showing every time app is opened"

[2021-02-11 05:48] #62 closed

[2021-02-11 06:27] adeekshith opened #65 "List Watomatic on F-Droid - lizzyOnDroid repo and possibly on main repo"
~### Implement Play store in app review~

~Come up with a logic to determine user has sufficiently used the app and then ask for review using in-app review: https://developer.android.com/guide/playcore/in-app-review/~
~Suggestions for triggering:~
~- 5 days of usage~
~- 10 auto reply messages sent~

[2021-02-12 05:08] adeekshith opened #68 "Share button bottom of main activity to share the app"
Need a small share button with icon and text at the bottom of the screen to make it easy for users to share the app.

[2021-02-12 05:12] adeekshith opened #69 "Save stats locally: app installed time, auto reply stats over time"
This helps in a few ways.
- We can show a counter to the user showing how many messages have been auto replied
- We can detect if the app has been sufficiently used and can ask user to give a review or to try out advanced hidden features.

[2021-02-15 01:57] adeekshith opened #76 "Add option to allow users to set reply frequency in days"
Add a feature to allow users to set reply frequency. For example if the user sets frequency to 1 day, then it auto replies to same person only once every day.

We should perhaps remove the time picker and replace it with a number picker to pick number of days instead of min and hours.

[2021-02-15 02:33] adeekshith opened #77 "Add auto reply support for (leaving) Facebook Messenger"
![after-light-scaled](https://user-images.githubusercontent.com/2568945/108626401-8e91ff00-7415-11eb-85c9-65f8d7ff7ed6.png)

[2021-02-16 06:02] #68 closed

[2021-02-17 17:37] IzzySoft commented on #65
Be aware that this library is non-free (just free as in "free beer", but proprietary and thus not "libre"), so your app would no longer be fully F/LOSS if you integrate it.

Besides: did you consider attaching a ***signed*** APK to releases? The one currently attached is unsigned and thus cannot be directly installed. Catch two flies at once, helping people to also leave the walled garden of Googl

[2021-02-17 17:59] adeekshith commented on #65
Glad you mentioned. I should've realized that 🤦‍♂️. Ok then, will fallback to the good old ways of sending people to play store/alternative to give a rating.

Hmm I was signing it. Now I am confused. Let me try installing on an spare phone and see. But that said, the signature of the app on Google play is not the same as on Github. Google tricked me into signing with its own key and there is no wa

[2021-02-17 18:08] adeekshith commented on #65
@IzzySoft Wait! You are Izzy as in IzzyOnDroid F-Droid Repository right? Sorry did'nt realize that. Glad to have you taking a look at this! It is an honor!
Yeah would love to get this published either on IzzyOnDroid or the main F-Droid repos!

[2021-02-18 02:19] spuday90 commented on #76
https://github.com/adeekshith/watomatic/pull/78#issuecomment-779621837

When we change the date manually, we are not receiving the remoteinput object from whatsapp notification hence it is failing to auto reply.

[2021-02-18 02:32] IzzySoft commented on #65
Guess that's the safest way (those Google libs are pretty sneaky: even if they themselves are presented with a FOSS license, earlier or later they drag in some nasty proprietary stuff. We've had that too often). Along those lines: when implementing this, consider planning it with a flavor. Looks strange if an app installed from F-Droid asks for a Play Store rating :wink:

"All the way down" – or j

[2021-02-18 04:45] #76 closed

[2021-02-18 14:00] adeekshith commented on #65
Of course. Totally makes sense. Will do that.

Ah! Thats what I missed. Updated latest release with both v1 and v2 signatures checked. Thanks for helping with this! `apksigner verify` error is gone now

That is sad but would be a great push for F-Droid community I hope.

yep 😕

Very glad to hear that 😀

Awesome! That would be really great! Yep, lets go with your repo first and then work on getting

[2021-02-18 20:41] IzzySoft commented on #65
I can confirm the signature issue being solved, thanks! So your app will [show up here](https://apt.izzysoft.de/fdroid/index/apk/com.parishod.watomatic) with the next sync (around 7:45 pm CET/UTC+1 tomorrow). Once you think you're ready for the "official repo", you can simply open an [RFP](https://gitlab.com/fdroid/rfp/issues) yourself. We'll meet there again when it gets processed. To make the pr

[2021-02-19 02:28] #65 closed

[2021-02-19 02:33] adeekshith commented on #65
Yayy! Excited to see this on your repo and will follow your instructions for F-Droid submission. Thank you for patiently explaining the process and taking time to make PR #81 for fastlane. I really appreciate it!

[2021-02-19 05:02] adeekshith opened #84 "docs: Update webpage with latest on main README"
[Website](https://adeekshith.github.io/watomatic/) is a bit behind

[2021-02-19 05:05] adeekshith opened #85 "Add link to r/watomatic and change share url to watomatic website in main activity"
- r/watomatic: https://www.reddit.com/r/watomatic
- Share icon: https://git.io/watomatic

r/watomatic in the center and share icon without text to the right

[2021-02-19 05:26] adeekshith opened #86 "Share intent functionality is lost in this PR"
https://github.com/adeekshith/watomatic/pull/78/files

We should be careful with these things from next time.
My bad. I should have checked.

Also check if anything else is missing.

[2021-02-19 05:40] adeekshith commented on #86
Looks like I messed up commits while rebasing

[2021-02-19 13:06] #85 closed

[2021-02-19 13:06] #86 closed

[2021-02-19 13:59] IzzySoft commented on #65
Gladly! Are you prepared for some publicity? Run will start shortly. I've just been contacted by one of our most famous security experts here in Germany, sounds like he's having a look now and will "introduce" it shortly – which usually means a lot of users will show up soon :smile:

PS: [here's a badge](https://gitlab.com/IzzyOnDroid/repo/#if-my-app-is-available-here-do-you-have-a-badge-i-can-use

[2021-02-19 15:59] adeekshith commented on #65
Woww! What more can I ask.. I am very excited! 🙌😃

Sure, will point to your repo in a little while

Yayy 😀

I made a release just a while ago [1.7](https://github.com/adeekshith/watomatic/releases/tag/v1.7) with some new features and also removed play store specific URLs to make it not look like a second class citizen on F-Droid repos.

[2021-02-19 16:26] IzzySoft commented on #65
So am I! Mike just had a [post on this problem today](https://social.tchncs.de/@kuketzblog/105756515586378361), calling people to finally leave WA. So I responded to him I'd knew something helpful, naming your app. He responded immediately asking for details, which I provided. So he obviously already had a look at your repo and your app, [because of](https://social.tchncs.de/@kuketzblog/1057585794

[2021-02-19 17:24] adeekshith commented on #65
👏😃 This is a really great response I was not expecting. Also great to see Mastodon rising. Will join you there

Of course, feel free to. That would be really great! Thank you so much Izzy!

[2021-02-19 18:25] IzzySoft commented on #65
Gladly, again! Feel the beat already? Countdown is down to around 20min now, your update has already been fetched. Watch the stars which hopefully will rise! As soon as it's online, I'll ping the last source on my list.

And yeah – see you at our ice-age farm, among the friendly Mastodons :smiley:

[2021-02-19 18:56] IzzySoft commented on #65
It's live now! Unfortunately it seems the [traffic graph](https://github.com/adeekshith/watomatic/graphs/traffic) isn't public, I'd really be curious :smile:

Thanks for adding the badge!

[2021-02-19 18:57] adeekshith commented on #65
Yayy! I see the listing is up 🥳. Added IzzyOnDroid badges on [Readme](https://github.com/adeekshith/watomatic) as well as the [webpage](https://git.io/watomatic).

[2021-02-19 19:19] adeekshith commented on #65
Oh did'nt realize that. Sorry could not find a quick setting. Will get back to in a few hours after my day job.
Until then here is a screenshot which I took just now if it helps 😊

![wat-stats](https://user-images.githubusercontent.com/2568945/108550901-cd5c7380-72b4-11eb-9953-56ae345c1c14.png)

[2021-02-19 20:05] IzzySoft commented on #65
Neither did I, and neither did I. If you find a setting exposing that, please let me know. But my guess is it is not intended to be public but restricted to members of the project. What I was curious for was mostly the second graph; I'd expected a peak with visitors, as I posted a link to your repo here before your app went online in mine. Now it will become interesting what happens in my repo…

[2021-02-19 22:58] adeekshith commented on #65
Yeah, looks like only collaborators can view traffic stats. Invited you as collaborator.

Me too. I could not find but by any chance, does your repo has any public stats to see how many times a specific app page was visited or downloaded?

[2021-02-20 01:02] IzzySoft commented on #65
Thanks, that worked – I can see them now!

And no, my repo has no stats. And the cumulated web stats (done by log parsing) won't show much – for that this action should have been on the beginning of the month. But as far as I can see by checking the logs with GoAccess, there were already 840 requests before the app went online (getting a 404). 116 downloads so far (so about 25 per hour).

[2021-02-20 02:12] adeekshith commented on #65
That is awesome 😃

[2021-02-20 02:25] adeekshith opened #91 "Implement setting to change language"
We now have more than one languages in our app but no language selection button. This needs to be implemented

[2021-02-20 07:28] spuday90 opened #93 "Add support for multiple messaging apps"
Includes issue https://github.com/adeekshith/watomatic/issues/77

[2021-02-20 13:03] adeekshith opened #94 "Setup weblate.org or similar for translations RFC"

[2021-02-20 13:06] adeekshith commented on #94
Weblate lists this condition that we may not be satisfying as of now. This project is still only around 2 months old

[2021-02-20 14:35] daluqi opened #95 "add support for Telegram"

[2021-02-20 16:52] TPS commented on #77
Wait, why would you promote leaving WhatsApp for _FaceBook_ Messenger?  Isn't FaceBook's changed policy re: WhatsApp the motivation to leave in the 1st place?

[2021-02-20 19:34] adeekshith commented on #77
@TPS Haha I think I may need to reword the title if it is confusing. This issue is about adding ability to auto reply for Facebook messenger so people can leave that too just like we are currently doing for Whatsapp.

So they can set a message **"I am not using Facebook messenger anymore. Please use Signal or something"**

By "Support facebook messenger" I meant something like "add auto reply feat

[2021-02-20 21:28] TPS commented on #77
Yep, & definitely reword the issue title.

[2021-02-21 08:40] adeekshith opened #98 "UI: Indicateeiddccidrdcucuejbufhfdluieililrfdudeuccijtgj"

[2021-02-21 08:43] adeekshith opened #99 "Add error cues to the UI"
Add error stroke color or error labels to indicate something is wrong with the user selection.
Few examples of such errors:
- Main auto reply OFF
- None of the Apps (WhatsApp/FB) are selected

[2021-02-21 13:15] adeekshith opened #100 "Group chat switch does not enable initially after permissions are given"
It works fine later but when the app is first installed, and notifications permissions are assigned, the auto reply switch gets enabled but group chat switch remains OFF

[2021-02-21 13:24] adeekshith commented on #77
IMO, this title makes sense in context but feel free to suggest one

[2021-02-21 13:26] TPS commented on #77
How about "Add support for _leaving_ Facebook Messenger"?

[2021-02-21 13:29] TPS commented on #93
Suggest "Add support for _leaving_ multiple messaging apps" as title"?

[2021-02-21 13:33] adeekshith commented on #77
Updated with slight changes.

[2021-02-21 13:35] adeekshith commented on #77
Good news is, this feature is almost implemented 😃. There are just a few more rough edges that needs some work. Will plan to release this in a few days just in time when our [Australian friends are deleting Facebook](https://www.independent.co.uk/life-style/gadgets-and-tech/delete-facebook-australia-news-how-to-b1804005.html).

[2021-02-22 03:35] #93 closed

[2021-02-22 03:36] #77 closed

[2021-02-22 04:53] spuday90 opened #102 "Take Supported App name from String resource to support multi language"

[2021-02-22 05:01] spuday90 opened #103 "Auto reply not working when device Restarted"

[2021-02-22 06:02] adeekshith opened #104 "Modify database schema to support multiple apps"
We are not saving package name while saving send reply logs. This will create bugs if auto reply is enabled for multiple apps

[2021-02-22 15:06] pixincreate opened #106 "Auto-Reply Doesn't work when 2 same messages are received"
Yes, Auto-Reply doesn't work when you receive more than 1 message at a time. And if the messages are same, then it doesn't reply either.

### Steps to re-produce:
-  Send a text(_something like this - "blahh"_) twice on WhatsApp to the one device that you've **Watomatic** installed.
- You can now see that, only message will be sent not 2. When the frequency is un-restricted.

[2021-02-22 15:34] adeekshith commented on #106
Hi @pixincreate Thanks for reporting this in detail.
As for the not replying for more than one messages issue, this is caused by this line:
https://github.com/adeekshith/watomatic/blob/c98470ef7f57871289e8ab164f6ab09c557c1db6/app/src/main/java/com/parishod/watomatic/NotificationService.java#L29

Where you can see `20*1000 ms` or 20 second relax time between replies. This is causing it. This was in

[2021-02-22 16:27] pixincreate commented on #106
Just created a pull request for that:)

[2021-02-22 16:51] adeekshith commented on #106
Great job! 😃
Tiny change is required which I commented in the PR.

https://github.com/adeekshith/watomatic/pull/107#discussion_r580406297

[2021-02-22 22:38] IzzySoft commented on #65
First article appeared today in Switzerland: [Watomatic - automatische Antworten auf WhatsApp-Nachrichten](https://gnulinux.ch/watomatic-automatische-antworten-auf-whatsapp-nachrichten). I'm still waiting for responses concerning my articles…

[2021-02-22 23:17] adeekshith commented on #65
Woohoo! Thats a nice one. Thanks a lot for your involvement Izzy!
We have been working on FB integration and other bug fixes so deploying to F-Droid took a little backseat. Actually, I think you already did most of the base work to get this on F-droid. I will do the rest including updating the screenshots so it can be on F-droid main repo soon 😃

[2021-02-22 23:20] adeekshith opened #108 "Facebook Messenger auto reply is not working reliably"
I could make it work well on emulator but having problems on my own device.
Will try debugging it.

[2021-02-22 23:49] adeekshith commented on #106
Yayy! Congrats! 🎉 Your first contribution made it to the main repo.
Will move the discussion you posted to another issue and close this one.

[2021-02-22 23:54] adeekshith opened #111 "Redirect WhatsApp messages to Signal using thrid party APIs - RFC"
=> Refer this link for [Signal APIs](https://github.com/bbernhard/signal-cli-rest-api). And [this](https://www.reddit.com/r/signal/comments/99vizk/signal_bot_python/) link for some idea.
What I wanted to say is that, there exist some people in the world whom you cannot convince or change their mind at any cost and keep texting you on WhatsApp no matter what! What I wanted to do is that, for a time

[2021-02-22 23:59] adeekshith commented on #106
You should be able to see your contibutions here: [contributors](https://github.com/adeekshith/watomatic/graphs/contributors).
Looking forward for future contributions! Feel free to raise more issues or PRs in the future and also feel free to ask for help 😊

Moved your discussion here: #111

[2021-02-23 00:17] adeekshith commented on #65
Was thinking, if this app can be posted to any of these popular subreddits like [r/privacy](https://www.reddit.com/r/privacy/) or [r/privacytoolsIO](https://www.reddit.com/r/privacytoolsIO/), that would give it a real boost. I cannot post it myself as it will be considered as self promotion/spam. Tried to get in touch with the moderators but got no response. In those subs, they discuss about Whats

[2021-02-23 01:07] adeekshith commented on #108
Oh WhatsApp is not working either on my device. Sorry, may I just installed a faulty build. Will try reinstalling again.

[2021-02-23 05:33] adeekshith opened #112 "Save user installed time, first installed version and last used version"
Save the following in shared prefs:
- [ ] app first installed time
- [ ] app first installed version
- [ ] app last used version

Why:
- We will need this information to decide what new options/features to set or reset to not break old behavior
- Database or shared preferences migration

[2021-02-23 06:17] adeekshith commented on #108
I dont know. Cleared data and switched accounts and I cannot reproduce it now. Will see if it happens again

[2021-02-23 06:17] #108 closed

[2021-02-23 06:20] adeekshith opened #113 "Only enabling "WhatsApp" even for new installs"
We intended to enable only WhatsApp for users upgrading the app (to preserve behavior) but enable all supported apps (WhatsApp and FB messenger) for new installs.

But it is only enabling WhatsApp even for new installs.
Tested by clearing app data and opening the app.

[2021-02-23 06:46] frosty-geek opened #114 "Optional notification on autoreply"
Hi,

As a User I would like to have the option to toggle whether watomatic notifies me that it has just auto-replied as the original notification has been read and is no longer available.

Possible options:
* Off/Notify always/daily digest (specify days maybe)

Regards,
Ralf

[2021-02-23 07:52] adeekshith commented on #114
Hi Ralf,

Totally agree. Having an option to get notification for auto replied messages would be helpful. Will plan to work on this.

Off/Always-Notify is relatively easy to implement so will focus on that initially. Will consider daily digest and others after that.

That is a great suggestion. Thanks for filing the issue! 😃

[2021-02-23 10:29] IzzySoft commented on #65
Would certainly fit. But I cannot do it either as I do not even have a Reddit account (and neither plan to create one, before you ask :laughing:).

Btw: first answer on my article came in, they're considering it (just discussing in the team there now). I'll keep you updated. You might consider a wiki page here, like "Watomatic in the press", to collect the links in :wink:

[2021-02-23 13:50] adeekshith commented on #65
😂 I think I almost knew that

Thats awesome! Thank you very much! 🙌

Created wiki page too 😁
https://github.com/adeekshith/watomatic/wiki/Watomatic-in-the-press

[2021-02-23 17:15] IzzySoft commented on #65
Nice! Added that link as "website" to your app's details. And couldn't resist tooting that screenshot :rofl:

[2021-02-23 17:33] Dhanurjan opened #115 "Beta test option in playstore"
Hi, Small request for developers! Enable beta tester on play store. It's better if we can easily update the beta app from play store. Thank you. 💚

[2021-02-23 17:35] adeekshith commented on #115
Thanks for filing this Dhanurjan!
Will add it to our ToDo list and get that up soon. 😃

[2021-02-23 23:49] adeekshith opened #117 "Temporarily hide incomplete Facebook auto reply feature and make a release"
There are many minor but important fixes in the repo which can be released instead of waiting to stabilize Facebook auto reply feature. But as it is already in the main branch, we can hide the UI from the user temporarily and make a release. We can un-hide it once it is ready.

Blockers for Facebook auto-reply support:
- https://github.com/adeekshith/watomatic/issues/104
- https://github.com/adeek

[2021-02-24 02:43] adeekshith commented on #65
I signed up on https://mastodon.technology instance and it is under review. Will see you there shortly 😃

[2021-02-24 07:15] #100 closed

[2021-02-24 07:16] #40 closed

[2021-02-24 07:17] IzzySoft commented on #65
Ah! That's the instance I'm on. Ash (the one running it) is fantastic, as I found out after having been there for a while. Instance is well maintained, in good hands. Good choice! Find me there as IzzyOnDroid, and also fdroidorg (the official F-Droid account) is on that instance. Looking forward to see you there then!

[2021-02-24 10:20] rebelcode-xr opened #123 "Redirect/Reply messages to/from Telegram"
Hi! Would be awesome to do something similar to what has been proposed in https://github.com/adeekshith/watomatic/issues/111 but also with Telegram!

Thank you 🙏

[2021-02-24 15:00] #117 closed

[2021-02-24 15:28] rebelcode-xr commented on #123
This might be useful: https://github.com/telegram-sms

[2021-02-24 23:29] adeekshith opened #124 "Link to community curated sample messages in the editor activity"
Watomatic users are sharing their creative wato messages so I was thinking we can provide a link it in the editor activity so others can inspire from it.

Simple text button with label: "Tip: View wato messages shared by other users for inspiration"
Link: https://www.reddit.com/r/watomatic/comments/lrkn7j/fellow_watos_share_your_creative_wato_message/

[2021-02-25 01:11] #124 closed

[2021-02-27 00:27] adeekshith opened #132 "Submit to F-droid main repo"
- [x] Add Fastlane metadata (refer [Izzy's Fastlane Cheat Sheet](https://gitlab.com/snippets/1895688)) ([src](https://github.com/adeekshith/watomatic/pull/81#issue-575967818))
    - Example, see initial meta data added by Izzy: #81
    - Include screenshots (Izzy recommends screenshots without frames)
- [x] Make a release (tagged) after above step as Fastlane must be available at the latest tag. (

[2021-02-27 05:27] pixincreate opened #134 "Watomatic doesn't work on Xiaomi devices"
## ISSUE: Fails to work on Xiaomi device

Well, as said above, the app works fine on Xiaomi device with a major flaw.
**It doesn't _Reply_ to any of the incoming messages.**

May be, it's due to, different notification channel which is different from other OEMs, used by Xiaomi on its software **MIUI** as usual.

### Device Specifications:
- **Android:** 10
- **MIUI:** 12.0.3.0
- **Model:** Redmi N

[2021-02-27 07:23] adeekshith commented on #134
Hi, thanks for reporting this with device specs. Yeah that is very much necessary to know as the app does not have built in analytics (for a good reason).
Not all but a few Xiomi models may have this problem. Will try to figure out a way to eliminate bad apples and make it unavailable on play store.

@spuday90 was using Redmi Android 10 device to test the app and it was working there. @spuday90 mi

[2021-02-27 07:31] adeekshith commented on #106
Attributed your fix in release notes:

- https://www.reddit.com/r/watomatic/comments/ls12ts/watomatic_18_released_with_many_bug_fixes_and_ui/
- https://github.com/adeekshith/watomatic/releases/tag/v1.8

Feel free to follow the page (⭐️ it or follow it) for more contributing opportunities. 😃

[2021-02-27 07:58] spuday90 commented on #134
My device is
Mi 10i
Android 10
MiUi 12.0.4

[2021-02-27 08:05] #106 closed

[2021-02-27 16:45] adeekshith commented on #134
Here is an idea. We can perhaps write some code to detect if it was able to successfully send a reply. The app should reply to the notification as it normally does and then test if the notification still exists. If notification still exists, it means the reply mechanism did not work.
By the above logic if we detect it is not able to reply, we can show an error to the user and ask them to submit it

[2021-02-28 07:39] adeekshith commented on #132
@IzzySoft Raised RFP for F-Droid 😃

Left the summary and description section as-is as we already have fastlane data. Please let me know in case I did anything wrong. Thank you!

https://gitlab.com/fdroid/rfp/-/issues/1660

[2021-02-28 07:58] adeekshith opened #137 "Option to clear all data"
We can have an option in Settings activity to clear all user data. Helpful mainly if there is any error because of bad state.

[2021-02-28 08:03] #132 closed

[2021-02-28 08:19] #104 closed

[2021-02-28 12:03] IzzySoft commented on #132
Thanks! Saw it, and it's already being worked on \o/

[2021-02-28 14:46] aschrijver opened #138 "Deploy on F-Droid?"
Wonderful app! Just what's needed, thanks.

This was the first time I saw IzzyOnDroid appstore. Would love to see this on F-Droid, which is what I primarily use.

[2021-02-28 15:44] adeekshith commented on #138
Hi @aschrijver
Glad to see some F-Droid ❤️
Submitting to F-droid main repo is being worked on 😃🙌. See issue https://github.com/adeekshith/watomatic/issues/132
I already did the submission yesterday and F-Droid team is working on packaging it.

About IzzyOnDroid: [IzzySoft](https://github.com/IzzySoft) maintains IzzyOnDroid and he is also a maintainer at F-Droid. He is the one helping us packing to

[2021-02-28 15:44] #138 closed

[2021-03-01 15:23] adeekshith opened #143 "Need to run at startup as Auto reply not working when device Restarted"
A few users complained that this app does not run after restarting the phone.

- We might need either or all of these permissions: run at startup, prevent phone from sleeping

Thats my preliminary thought but need to verify whats the better way.

[2021-03-02 16:13] TheMindFlayer opened #147 "Layouts squishing and not scrollable for small screens and landscape mode"
The app has some problem with the UI

- Phone: Huawei
- Model: LUA-U02
- Android Vers.: 5.1

I took some screenshots, when is landscape mode you can't scroll, the screen doesn't move (up or down) but the options work well.

If you need more info, say it, left some questions

![Screenshot_2021-03-02-11-54-28](https://user-images.githubusercontent.com/17908649/109676920-88a3c880-7b4f-11eb-9fce-2c9e4

[2021-03-02 16:17] adeekshith commented on #147
Oh this looks bad! Thanks for filing it in detail with screenshots Julio. Will see what is going wrong and work on this ASAP 👍

[2021-03-02 23:37] #91 closed

[2021-03-03 05:04] #147 closed

[2021-03-03 05:21] adeekshith commented on #147
@TheMindFlayer
Fixed this. It should now scroll well and also work in landscape mode too 😃🙌
Already in the process of pushing to Play store but that might take 2 to 3 days to roll out.

<img width="551" alt="Screen Shot 2021-03-02 at 11 06 15 PM" src="https://user-images.githubusercontent.com/2568945/109756660-f4b51980-7bad-11eb-8aa8-96cd1c5bf6d8.png">

[2021-03-06 05:59] aschrijver commented on #28
I would display at least one or two screenshots directly on the main README and then you can have a [More screenshots] to the other page.

[2021-03-06 06:01] adeekshith commented on #28
Yeah thats a good suggestion @aschrijver . README page and webpage definitely needs some work. Will get to this tomorrow.

[2021-03-06 06:04] aschrijver commented on #143
Being an exemplar of trustworthiness is important given the USP of the app is also related to that. You might think about having an opt-in for more pervasive permissions, and at least describe what each of your permissions are used / why they are required.

[2021-03-06 06:08] aschrijver commented on #103
Probably related to #143

[2021-03-06 06:09] #103 closed

[2021-03-06 06:09] adeekshith commented on #103
Thanks for finding that out @aschrijver 😃

[2021-03-06 06:11] aschrijver opened #159 "Explain anti-feature on F-Droid"
On [F-Droid](https://f-droid.org/packages/com.parishod.watomatic/):

Given the way Watomatic works this is probably a requirement. It might be explained in the text, to put F-Droid users at ease.

[2021-03-06 06:12] adeekshith commented on #143
Of course! I am very cautious of adding new permissions. In fact, the current version has zero default permissions. Well I dont say that out loud because for example issues like this one makes it necessary to add it some default permissions. Yeah but wherever Android permits, we prefer run time notifications.

Sure, will keep in mind to explain permissions when anything is added.

[2021-03-06 06:16] adeekshith commented on #159
Related discussion: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/8466#note_522368293

Good point again! Will go through F-droid policies first to make sure we can do that and include it.

[2021-03-06 06:18] aschrijver opened #160 "Funding ideas RFC"
Github Sponsors seems to work well to get donations.

Other idea: You _might_ consider being a paid app in Google Play and free in F-Droid ([Fedilab](https://play.google.com/store/apps/details?id=app.fedilab.android) is doing this). But it will raise the barrier to use it, and at the same time promote F-Droid.

[2021-03-06 06:19] adeekshith commented on #160
Any idea if we can include donate button in F-Droid version?

[2021-03-06 06:31] aschrijver opened #161 "Selectively enable/disable Watomatic"
For situations where you can't convince your grandma or close friends to move to a different chat app, and hence the FOMO keeps you hanging on to your Whatsapp account, you might at least make your use _as good as possible_.

The app might have a blocklist / allowlist so you can precisely control which contacts receive an auto-reply. This also enables the strategy where you _gradually_ migrate as

[2021-03-06 06:35] ChrisFromMcAfee opened #162 "Create simple reply rules RFC"
Hi,

I think the tool is great, and I would like to create simple rules to change the reply depending on the sender or the time or content of the message.
Combine this with a customizable button you could use this when you start driving to notify the recipient to give you a call.

Would like to get your feedback!

Thanks
Chris

[2021-03-06 06:35] aschrijver commented on #160
Not sure about that. I'd look at some other apps there. Maybe links are not allowed, but you might add them text-only.

[2021-03-06 06:37] aschrijver commented on #162
This might combine with #161 where you might define Reply Groups instead of just block + allow lists.

[2021-03-06 06:39] aschrijver commented on #143
If special permissions are required you might show an Onboarding dialog shown on first install that asks to enable them and otherwise tells you that you can do that in config too at a later time.

[2021-03-06 06:43] adeekshith commented on #160
Will give that a shot 😃

[2021-03-06 06:46] aschrijver commented on #159
PS. Don't use the word "Troubleshoot" in your description. It is not an error situation, and it will put people off. Use "Getting started" or something similar.

[2021-03-06 06:47] adeekshith commented on #143
I'd like that wherever possible but Android requires some permissions to be specified in the APK itself. Not all permissions can be requested at run time.

Android classifies permissions into  "Dangerous" and "Normal" categories. Only dangerous permissions (like notification access) can be requested at run time. Permissions like "run at startup" and "internet" permissions are considered Normal per

[2021-03-06 06:48] aschrijver commented on #143
Ah, okay. You might still show the Onboarding dialog that gives some very user-friendly explanation and builds that trust.

[2021-03-06 08:08] #28 closed

[2021-03-06 08:10] adeekshith commented on #28
README page now has some screenshots 😃 https://github.com/adeekshith/watomatic

Will consider using lower resolution images for faster loading but I think it is still better than no screenshots

[2021-03-06 09:09] aschrijver opened #167 "Make website tracker-free (and maybe no-JS)"
The website has 3 trackers. It would be a great boon to get rid of them, and it can be easily done.

- Use default browser fonts, with fallback options (alternatively self-host the google fonts).
- Avoid the jsdelivr CDN and self-host the scripts you include.
- Dunno, but it seems there's no need for a Google Play cookie to be present.

Now you use scripts to have an easy Markdown2Html translation

[2021-03-06 22:52] adeekshith commented on #162
Hi Chris, glad you are liking it.
Reply rules would be great. I would like that too but keeping the main interface simple is important to allow everyone easily use it.

Two ideas:
1. Provide an option "Advanced mode" in settings which allows reply rules and other advanced features
2. Another option is to leave this project as is and fork it to provide an advanced auto reply system with regular exp

[2021-03-06 23:28] adeekshith opened #170 "Refactor using view binding"

[2021-03-07 01:25] adeekshith opened #171 "Detect app upgrade and show "Whats New" in the footer"
Detect app upgrade and show "Whats New" in the footer replacing "r/watomatic" button. Clicking on it should take to Github releases page link: https://github.com/adeekshith/watomatic/releases/latest

Can use shared prefs to track it.

Key: "event_release_notes_viewed"

If the key is null (first install), set current version number to the key.
Else, compare saved version number with current version

[2021-03-07 01:41] adeekshith opened #172 "Detect old versions and prompt to upgrade"
In the ideal world, app stores take care of keeping the app updated but some of our users download APKs directly instead of using PlayStore or F-Droid client.

For example, look at [Izzy's stats](https://mastodon.technology/@IzzyOnDroid/105844794435181441). 600 downloads with only 380 via F-droid in past week. Rest of them may never be notified of an update.

Not just that but this also helps when

[2021-03-07 07:33] aschrijver commented on #162
+1 for Advanced mode.

But for your sake I'd keep these features on the backlog as nice-to-haves for the moment :)
Might be fantastic features for other contributors to PR to the project.

[2021-03-08 11:57] voruti opened #180 "Not working on LG K3"
What details should I provide?

[2021-03-08 17:15] voruti commented on #180
Works now with the latest version (v1.10).

[2021-03-08 17:15] #180 closed

[2021-03-08 17:35] adeekshith commented on #180
Woohoo! Best bugs are the ones which fix themselves 😃

Glad the new fixes are working. Thought of writing a few troubleshooting instructions and post it here after work but glad you already figured.

Also working on having "Send Debug/Error Report" festure in the app so users can easily share it with the devs.

Thanks for coming back and updating. Really appreciate it @voruti !
Feel free to report

[2021-03-09 16:03] quaqo opened #181 "Image message in group not recognized as group message sometimes"
As I found in this [reddit](https://www.reddit.com/r/watomatic/comments/m17ju3/the_app_stop_working/) thread, I also experience the same issue.

Since today the app stopped working.

May I suggest a switch to enable a local logcat that we can share as users?
I also encountered another bug (which I'll report when I can reproduce, basically: if the group switch is off, but someone sends a picture to

[2021-03-09 16:13] adeekshith commented on #181
Thanks for reporting @quaqo . This looks serious if it happened to more than one person. Will work look into it asap.

Already working on it

Oh, will try to reproduce that.

Thanks a lot! Will get back to you 😊

[2021-03-09 16:16] quaqo commented on #181
Thanks to you for being so proactive. Unfortunately I haven't got much time on my hand right now, I wish I could be of more help with a patch.

[2021-03-10 02:26] adeekshith opened #182 "Group reply reply frequency bugs and state change errors"
User email. Posting as-is but will categorize later:

[2021-03-10 14:27] adeekshith commented on #181
Really appreciate it! 😊

I found the issue. Updating it now. Hopefully, Google play deploys it fast enough before any serious damage is done.

[2021-03-10 14:47] quaqo commented on #181
I saw the commit. Good eye, but I don't think it was my issue. I didn't upgrade from the old schema. And I also tried a fresh install.

I enabled a json collector for the notifications so I can give you examples of when it doesn't work, I'll let it run for 24 hrs and report back!

[2021-03-10 23:33] adeekshith commented on #181
Thats a very good insight. This probably explains it. As of now it just checks if the notification object has `isGroup` field in the notification object which is either set by WhatsApp or by the OS. Will see if there is any other way. One hacky way is to parse the notification title. Title for groups are in this format: "<groupName>: <person name>". We can detect semi colon or something but there

[2021-03-11 12:37] quaqo commented on #181
FYI, if you want to parse it (I think it would be wise, even though as you said it may go wrong...), from my notification logs, the same message with picture (which seems that is the only type that sometimes doesn't get assigned a isGroup immediately) can appear as:

1. **`isGroup = false`**
`style = Notification.MessagingStyle`
`tickerText = null`
`title = "$GroupName: $ContactName"`
`text = "📷 $

[2021-03-11 13:13] spuday90 commented on #181
Hi @quaqo, thanks for the detailed description. Its making a lot sense. We will check more conditions to decide it's a group reply or individual.

[2021-03-11 13:21] adeekshith commented on #181
@quaqo those logs are very useful! Thanks a lot for that. Yeah, just title many not be of much use but agree we can parse rest of those to decide if it is a group or not.

Also, this happened to me today for personal chat too. My reply frequency was set to 1 day but it replied the second time within a few minutes when the message is an image. Will work on fixing this ASAP.

[2021-03-13 15:21] OLLI-S commented on #95
Adding Telegram support would be awesome, because I would like to tell my telegram contacts too that I moved away from Telegram.

[2021-03-13 15:23] OLLI-S opened #189 "Do not dismiss notification after auto reply"
When Watomatic replies to a message, it is shown as "Read" in WhatsApp.
Would be very useful, when the message stays "Unread" or "New", so I know that there is a new message where Watomatic replied to.
This way I can check the message and see if I missed something.

[2021-03-13 15:29] OLLI-S opened #190 "Reply only once per Contact per Day"
A colleague wrote a message in WhatsApp and Watomatic replied.
Then my colleague replied with a smiley and received the Auto-Reply from Watomatic again.
He answered with "Ahhh" and received the Auto-Reply from Watomatic again.
Then he deleted me in WhatsApp, because these messages were annoying for him.

It would be better if I can select rhe frequency (how often Watomatic should reply).
When I se

[2021-03-14 05:32] adeekshith commented on #190
Hi @OLLI-S
We already have a reply frequency feature that you can adjust from 1 day to 7 days. Did you try that?
<img width="382" alt="attrib-main" src="https://user-images.githubusercontent.com/2568945/111058426-3bc7c800-8454-11eb-8e9b-c7e41c6fc05a.png">

[2021-03-14 05:35] adeekshith commented on #189
Working on a feature where the notification will not be dismissed even after auto reply (Android 8+)

[2021-03-14 10:47] OLLI-S commented on #190
This is so embarrassing for me, I just have overseen this feature.

[2021-03-14 10:47] #190 closed

[2021-03-14 10:48] OLLI-S commented on #189
Cool, thank you!

[2021-03-14 12:48] adeekshith commented on #190
@OLLI-S Oh no dont worry about that 😊.
I checked your other issues too and some of them are being worked on. Will keep you posted. Feel free to file more issues as you keep finding 🙂

[2021-03-14 16:50] OLLI-S commented on #190
Please allow to extend the period to 30 days.
So I can select 30 days instead of 7 days.

[2021-03-14 22:02] violoncelloCH commented on #182
I can confirm the first point: while in DMs, the automated reply is only sent once a day (as configured), in Groups for every single person writing, at least one automated reply is posted...

[2021-03-14 22:11] adeekshith commented on #182
Thanks @violoncelloCH ! 👋😃
The user who emailed confirmed that points 2 and 3 happened only once and they could not reproduce again.
I was able to reproduce first issue (group reply not respecting reply frequency). Problem is, the app currently considers the notification title as group name but it actually is `<group_name>: <person_name>` which is why this is happening. Will have to extract the gr

[2021-03-14 22:35] violoncelloCH commented on #182
Thanks for your work @adeekshith !

[2021-03-16 00:38] LucioAmely opened #193 "[Enhancement] Time based replies."
Hello, it's very nice to see an app like this. I want to personally thank the developer for the idea and efforts.

I have a feature request; ability to set different replies based on when we received the message. So we can set up scheduled replies like:

- Between 11 PM and 7 AM we can set a reply message indicating we are probably sleeping, will reply the sender in the morning.
- During our work

[2021-03-16 03:22] #113 closed

[2021-03-16 03:56] adeekshith commented on #193
Hi @LucioAmely 👋😃. Thanks a lot!

That would be great! Similar feature was asked in #162 . Will consider adding an advanced mode in the future to include these features but currently occupied with other feature requests like enabling auto reply for FB and fixing existing issues. It might take a long time considering our limited resources we are working on but will try to get to it sometime. Thanks

[2021-03-18 06:25] daniel-alomar commented on #134
I have a Xiaomi Mi 10 and had the same issue..

[2021-03-18 15:54] FriedrichGaming commented on #134
Same issue...
Redmi Note 4
Android 7
MIUI 11.0.2

[2021-03-19 05:45] #84 closed

[2021-03-19 05:45] adeekshith commented on #94
We now have Crowdin setup

[2021-03-19 05:45] #94 closed

[2021-03-19 05:46] #9 closed

[2021-03-19 05:55] adeekshith commented on #95
Will consider it.
But Telegram is a slightly complex app to support because of various reasons:
- Secret chats cannot be auto replied because they do not have support  quick reply
- Unlike other platforms which only have individual chats and group chats, Telegram has channels, bots, a few types of groups, individual cloud chats and secret chats and I might be missing something else. I do not know

[2021-03-20 06:04] #182 closed

[2021-03-20 06:10] adeekshith commented on #182
This issue is fixed 😃
Will deploy it in a day and should be rolled out in 2 to 4 days

[2021-03-22 01:49] fikimaul opened #202 "Request Feature Contact exclusion"
Hi @adeekshith

I alredy used this application for auto reply my friends chat. But sometime i need to exclude some my whatsapp contacts from the auto reply, because the chat from some contact is very importan and they dont have Signal or Telegram.

Thank You. 🍻

[2021-03-22 02:22] adeekshith commented on #202
Hi @fikimaul 👋😃
Glad you are using it. Yeah, that's a good feature to have. Might take some time to implement but will working on this soon

[2021-03-22 03:34] fikimaul commented on #202
Okay no problem. I will wait for that feature. 😄😄

[2021-03-23 01:19] caminsha opened #204 "[Feature request] Increase character limit"
I have just composed a message for the people which use WhatsApp. Unfortunately the character limit is 500 characters. Is there a possibility to increase this limit?

Is there a technical background which only allows 500 characters?

Btw: Great app. Thanks!

[2021-03-23 01:47] adeekshith commented on #204
Thanks @caminsha 👋😃
All tested messengers seemed to work well with 500 characters so went with it. Not having a limit might invite more issues like people might complain it is not working for some messenger.
Will have to test with all messengers and will consider increasing it. Will add it to the queue but might take a while to get to it.

One tip until then is consider composing your message on h

[2021-03-23 01:51] caminsha commented on #204
Oh wow. That was a very fast reply. Thank you @adeekshith

This is a pretty good argument to not increase the message length (for now).

I think I'll share the further informations on a separate channel.

[2021-03-23 01:54] adeekshith commented on #204
Sure thing 😊

[2021-03-24 01:45] What-Zit-Tooya opened #209 "Indonesian Tranlate string.xml"
I really like this app, so i translated it into Indonesian. Here the strings.xml :
[strings(ID-id).zip](https://github.com/adeekshith/watomatic/files/6193765/strings.ID-id.zip)
Please include it in next release. 👍

Best Regards

[2021-03-24 04:17] adeekshith commented on #209
Hi @exodius48 👋😃
Thanks a lot! I guess you already found Crowdin page: https://crowdin.com/project/watomatic
Crowdin also has option for translating Google Play listing so please check that out.

@fikimaul recently helped with Indonesian translations which I am reviewing. Feel free to discuss and improve on those too.
Thank you!

[2021-03-24 08:42] exodius48 commented on #209
Before i sent xml i was applied crowdin, but not accepted, so i sent here.

Im very glad, hope we can contribute in this project. :)

[2021-03-28 15:04] adeekshith opened #213 "Not auto replying to WhatsApp status replies"
A user reported this:

But if someone answers to my Status they dont get a response from watomatic.
Answering other messages works fine.

https://social.tchncs.de/@nahtanoy/105955489223842467

[2021-03-29 19:19] adeekshith commented on #213
But it is working fine for me. Was unable to reproduce this issue on two devices.
Can anyone else test it please?

![whatsapp status reply screenshot](https://user-images.githubusercontent.com/2568945/112888040-7eff7900-9099-11eb-9de7-64f6927b5c7f.jpg)

[2021-03-31 02:30] adeekshith commented on #213
@GithbUser Thanks for conforming!
Closing the issue. Will revisit if it happens for anyone else. Also, I like your friend's reply 😃

[2021-03-31 02:30] #213 closed

[2021-04-12 12:00] quaqo commented on #181
Hi there. Any updates on this? I partially re-created the logic of Watomatic in Tasker, and found that I can safely consider every notification coming from "com.whatsapp" with a ":" in either title or text as a group message.

[2021-04-13 04:07] pixincreate opened #217 "Doesn't automatically reply when a person send image instead of text"
Everything's explained in the title.

**How to reproduce:**
- Ask a person to send an image
- Watomatic doesn't reply.

Oh! Its actually referenced here before: #181

[2021-04-13 08:37] quaqo commented on #217
Yes, I think it's a duplicate of what I reported in #181

I'll maybe have sometime next weekend to try to write and submit a patch to @adeekshith (I hope!) as I can't use watomatic at all without that being fixed. My use case is that I have a few groups (actually 2) that I can't move to Signal, but I don't want to spam them with automatic replies. The first picture of the day always gets answered

[2021-04-13 13:22] adeekshith commented on #181
Hi 👋😊
Yeah I think we have to go with pattern matching. Was searching for a standard solution but could not find anything. Checking for `:` or `text: 📷` (need to verify) might be the only option. Will do this and aim for a release tomorrow. All other group related issues are fixed in previous release but could not do this yet.
Thanks @quaqo

[2021-04-14 01:39] #189 closed

[2021-04-15 02:07] spuday90 opened #218 "Show what's new in the release"
Should fetch what's new data from github, if we have Telegram/Redit etc urls in it then user should be shown Whats new badge and on click redirect them to the corresponding urls based on which apps are installed in that device.

[2021-04-15 02:16] adeekshith commented on #218
Github API to get latest release info: https://api.github.com/repos/adeekshith/watomatic/releases/latest

[2021-04-15 02:25] adeekshith commented on #218
Important fields are:
- `id` this has release id. Unique id for each release (not version number).
- `prerelease`, `draft` should be false
- `body` We have add links to this. Was thinking something like this:
[code]

So we can look for `<app-name>: <url>` format in `body`

[2021-04-15 02:38] adeekshith commented on #218
Alternative format which looks good in HTML but might be little difficult to parse?:
[code]

Format:
`View release notes on [App1](link1), [App2](link2)`

[2021-04-15 02:43] adeekshith commented on #218
Added both the formats in the latest release notes.

We can also add `major-release: false` in one line somewhere in the body if we do not want to notify. But if that is not found, assume `true` by default

[2021-04-15 13:37] adeekshith commented on #181
@quaqo Can you help me test this PR please: https://github.com/adeekshith/watomatic/pull/219

I think it is safe but cannot reproduce the issue on my end.

[2021-04-15 13:39] adeekshith commented on #217
#181 is awaiting review but I doubt this is the same issue. #181 is about replying to image messages when it is not supposed to. I cannot reproduce this on my end. Will take a look.

@pixincreate is the "Reply Frequency" non zero when this happened?

[2021-04-15 13:49] quaqo commented on #181
I'm currently AFK and can't compile anything, I do have my second phone thou: are you able to provide me with an APK that I can install?

[2021-04-15 14:04] adeekshith commented on #181
Awesome! Thanks a lot! 😃
But not urgent. Try whenever you are free.

Github is not allowing me to attach the apk here. Sharing it here: https://transfer.sh/SH8zC/watomatic-issue181-release.apk
Might want to remove existing app from your system before installing it.

Also attaching the patch image if you want to preview;
<img width="924" alt="181-code-patch" src="https://user-images.githubuserconte

[2021-04-15 14:06] quaqo commented on #181
Already saw the commit, thanks. I'll sideload it ASAP and test it. Thanks!

[2021-04-15 18:20] adeekshith commented on #218
Looks like we can use `FLAG_ACTIVITY_REQUIRE_NON_BROWSER` intent flag to launch only if non-browser apps exist for that intent. Otherwise it throws exception and we can catch it to detect the app does not exist.

Launching intents is fine but querying for intents now needs us to add permission to the manifest as per this article:

https://medium.com/androiddevelopers/working-with-package-visibilit

[2021-04-17 10:15] pixincreate commented on #217
I've kept reply frequency to infinity(•).

[2021-04-17 10:18] pixincreate opened #221 "[Bug Report with template] Watomatic doesn't reply for messages with newline(empty line in between)"
# Bug Report

### Have you read the README?
Yes
### Have you searched the issue tracker?
Yes
### Are you using the latest version of Watomatic?
Yes

**Watomatic** Version: 1.14
Android version: 10.0
Arch: arm64

### Is the bug reproducible with latest version?
Not sure about that.

### Can the bug be reproduced with corresponding Watomatic version?
Yes!

### Is the bug a crash?
No

### Describe th

[2021-04-17 10:42] OLLI-S commented on #189
When will this be released (Google Play Store)?
(I have turned Watomatic currently off, because I missed some important messages but will turn it on as soon as this feature is released).

[2021-04-17 12:30] adeekshith opened #222 "Both watomatic's and Whatsapp original notification are being shown if notification setting is ON"

[2021-04-17 12:31] adeekshith commented on #222
And WhatsApp's original notification is being shown even when notification setting is OFF

[2021-04-18 02:49] adeekshith commented on #221
Hi @pixincreate thanks for the detailed report! Thats very helpful 😃👍
Let me debug this and see whats going on. Thanks!

[2021-04-18 02:55] adeekshith commented on #189
Hi @OLLI-S 👋
Plan was to release tomorrow. Will try to make it but otherwise by Monday. And it usually takes about 2 to 3 days days for Google Play to approve so you should get this update sometime next week.

Yeah this feature took some time to implement. It still has a few issues like the notification icon is tiny and other minor issues. So I am planning to release it but keeping it OFF by defau

[2021-04-19 13:53] #218 closed

[2021-04-20 07:15] quaqo commented on #181
@adeekshith sorry for getting back so late: I had work-related unforeseen issues. I saw you committed the patch, anyways I wanted to chime in anyways and confirm it seems to work on my end! Thank you for fixing it!

[2021-04-20 13:29] adeekshith commented on #181
@quaqo Oh no probs at all. Thanks a lot for helping to debug and confirming. Planning to release this today and should be available on Play store in 3 to 4 days 😃

[2021-04-21 01:50] adeekshith opened #224 "Prompt to disable battery optimizations"

[2021-04-21 01:53] adeekshith commented on #224
Screenshot from Delta chat app. That is open source so we can check how they are doing too.

![Screenshot_20210410-011447_Delta Chat.jpg](https://user-images.githubusercontent.com/2568945/115485388-39f2e080-a21a-11eb-89d2-cde6e4144ffb.jpg)

[2021-04-22 02:43] spuday90 opened #225 "Prevent service from being killed by system"

[2021-04-23 05:38] adeekshith commented on #222
Still happening. This is a blocker for the release. Original notification not being dismissed when notification setting is off.

@spuday90 Test this kn your end and if you cannot reproduce it, we can use the legacy reply function instead of oreo when notification setting is off.

If it is not working, we can try this:
- If Notification off
  - New install -> oreo reply
  - Old install -> legacy re

[2021-04-25 20:41] m-wagner98 commented on #202
Yes great idea, waiting for that too

[2021-04-26 03:34] #222 closed

[2021-04-26 16:28] OLLI-S commented on #189
Today I received the update.
I activated Watomatic and asked my wife to send me a WhatsApp message.
I received it and she received the auto reply.

But the WhatsApp icon on the home screen does not show me a number (new message).
When I open WhatsApp, then there is in the list of contacts also no counter behind my wife.
So, what is wrong?

[2021-04-26 17:00] adeekshith commented on #189
Watomatic notifications are not enabled by default for existing users to preserve behavior.

Enable it by: Open Watomatic -> Click on top right three dots -> Settings -> Toggle "Show notification for replied messages"

This generates new Watomatic notifications for replied messages... clicking on which will open WhatsApp.

But note that WhatsApp might still not show those messages as unread becaus

[2021-04-27 02:24] spuday90 opened #230 "WhatsApp's original notification for the replied message is shown on some devices"

[2021-04-27 02:27] spuday90 commented on #230
To fix this issue we should add "cancelNotification(sbn.getKey());" where we are checking if its replied message i.e checking selfDisplayName.

inside this if block

'if(title != null && selfDisplayName != null && title.equalsIgnoreCase(selfDisplayName)){ //to protect double reply in case where if notification is not dismissed and existing notification is updated with our reply
            return

[2021-04-27 11:04] OLLI-S commented on #189
Thank you for the information, the feature is working very well.
But why have you "hidden" it in the settings?
It would be more user friendly to show it on the main screen directly below the switch "Auto Reply ON".

[2021-04-27 22:10] adeekshith opened #231 "NullPointer Exceptions in prod"
![index](https://user-images.githubusercontent.com/2568945/116319116-8c348400-a77b-11eb-9a68-3e72f4800943.jpg)

[2021-04-28 06:06] #231 closed

[2021-04-28 22:29] adeekshith opened #234 "Push notification for App update"
Check if the app can register for app update event. If yes, when an app update event is triggered, we can push a notification. Clicking on the notification should open release notes just like it opens when clicking on "Whats New button".

[2021-04-28 22:35] adeekshith opened #235 ""Whats New" button should disappear on activity resume instead of "on click""
(Not a priority)
Currently, the "Whats New" button vanishes before the link is even viewed. Just feels like a visual glitch and it also closes before the user selects the app.
May be I'll make a short screencast showing the issue if needed.

[2021-04-28 22:38] adeekshith opened #236 "Move language settings to new activity instead of the dialog"
Mockup:
![photo5492266838411814849](https://user-images.githubusercontent.com/2568945/116481256-780a8880-a848-11eb-820b-158586fca97e.jpg)

[2021-04-28 22:40] adeekshith opened #237 "Add link to release notes in "About" activity"
Link Format: `https://github.com/adeekshith/watomatic/releases/tag/v<version>`
Example: https://github.com/adeekshith/watomatic/releases/tag/v1.15.1

[2021-04-28 22:44] adeekshith opened #238 "Show Github contributors in the "About" section"
App should pull contributors list using Github API and show contributor IDs as comma separated. Clicking on which should open their Github profile:

GitHub contributors API: https://api.github.com/repos/adeekshith/watomatic/contributors

Docs: https://docs.github.com/en/rest/reference/repos#list-repository-contributors

Ex:
[code]

[2021-04-30 05:32] adeekshith opened #241 ""Whats New" being shown before the app is updated"
We are not checking if Github release tag matches app version

[2021-04-30 08:16] quaqo commented on #181
@adeekshith unfortunately in the last 2 days it happened again.

So this has to be reopen.

What happens is that like I mentioned [here](https://github.com/adeekshith/watomatic/issues/181#issuecomment-796706306):

sometimes the title is "Person @ Group".

Your patch looks if `rawTitle` is of the first kind.

Of the group messages that were answered, both where pictures, but the title was "Person @

[2021-04-30 08:30] spuday90 commented on #181
Hi @quaqo,
Sorry to hear that. Just give us some more time we will fix it once and for all.
Thanks for your detailed observations, that would definitely help us fix the issue faster.

[2021-04-30 08:44] quaqo commented on #181
Thanks to you!

[2021-04-30 08:59] devgioele opened #242 "[Enhancement] Advanced response frequency config"
Allow users to specify separate response frequencies for specific phone numbers.
For instance:
[code]
This would enable a personalized user experience. Some contacts might be confused by the message and so you might want to disable it the message for them. Other contacts might tend to ignore the message and so one could consider increasing the response frequency just for those.

[2021-05-01 11:18] 123chuck123 opened #243 "Deactivete on Work Profile"
I sometimes need to use Whatsapp on my work profile.
Watomatic also auto replies on my work profile.
Is it possible to only make it auto reply on my main profile.
Thanks.

[2021-05-01 11:22] adeekshith commented on #243
Oh! Profiles never crossed my mind. Thanks for letting me know. Will see if that is possible. Thanks! 😃

[2021-05-02 10:32] mawoka-myblock commented on #243
But please make it switchable because on my phone I can't deactivate it, because Xiaomi is too stupid to push a stabl, bug-free ROM.

[2021-05-02 10:34] mawoka-myblock commented on #225
A permanent notification could solve the problem

[2021-05-02 13:22] mawoka-myblock commented on #167
Without Javascript won't be possible right now, because the Website uses Docsify.js which uses Javascript.

[2021-05-02 13:30] adeekshith commented on #167
This slipped through my radar.
Wonder what I was using jsdelivr for. Will check back when I have my laptop with me tomorrow.

I see no need for a cookie either. Will check if we can avoid using local source for images. @mawoka-myblock might know Google badge rules better

[2021-05-02 13:37] mawoka-myblock commented on #167
At first: docsify uses Jsdelivr, over a http connection and Google Fonts. I removed that with some other tweaks in my fork.
I couldn't find a Google play 🍪 when I tested everything out.

[2021-05-02 13:50] adeekshith commented on #167
Currently we are using JS (docsify) to render markdown pages for free reasons:
- Markdown requires relatively low technical expertise compared to HTML. So easy to invite people of any skill will level to contribute
- No compile step required. Contributors who do are not good with Git can edit Markdown right from their browser from Github, make a PR and it is already live

Not necessarily a fan of

[2021-05-02 13:56] adeekshith commented on #167
👏👏👏😃 Great job @mawoka-myblock  I think we should also submit a patch to Docsify so they don't use HTTP

[2021-05-02 14:18] mawoka-myblock commented on #167
Idk why but in html it was the following: `<script src="//CDN.js..." ></>` which resulted in a http request. What I want to say is that you would have to edit the whole docs of docsify to make it HTTPS.

[2021-05-02 14:20] mawoka-myblock commented on #167
Which the cdn-thing: we could create a GitHub action which automatically updates the script from Jsdelivr and saves it locally. I'll do that asap.

[2021-05-02 14:23] adeekshith commented on #167
Awesome! Thanks @mawoka-myblock 😃

[2021-05-02 14:27] mawoka-myblock commented on #167
Btw in my fork is an optional cookie, because of my noobie JavaScript skills.

[2021-05-02 14:29] mawoka-myblock commented on #230
That shouldn't sound bad or so but you could fork it and create a pr, if you already know how to do it

[2021-05-02 14:34] OpenWarp opened #245 "Russian Translation strings.xml"
While waiting for approval on Crowdin which may or may not happen I'd like to post translated strings.xml here to speed the things up. In fact, I have created a pull request for it already. Please let me know if you need translated main page https://adeekshith.github.io/watomatic/#/ and the privacy policy, in which case I would appreciate to have original .md files to work with. Thanks.
[strings_r

[2021-05-02 14:38] adeekshith commented on #230
@mawoka-myblock
@spuday90 is already working on it. We talked off thread on this issue 😊

[2021-05-02 14:49] adeekshith commented on #245
Hi @OpenWarp 👋😃
Saw your translation PR yesterday and also accepted your Crowdin request a while ago.
Out of town this weekend. Will get to your PR by tomorrow or will add those on Crowdin if you did not do already by tomorrow.

That would be great. Really appreciate it!! I'll figure out how to add these to Crowdin in the future but until then here are the md files:

.md files are at `docs/ghpages

[2021-05-02 14:59] OpenWarp commented on #245
Thank you so much @adeekshith and sorry for being impatient. Have a good one!

[2021-05-02 16:04] aschrijver commented on #167
Nice to see you are making improvements. Thank you :pray:

Jekyll and other static site generators also use markdown, and after the PR (which you still require) Github Pages will do an auto-build and deploy without any user interaction required.

The features of Docsify confuse me, because they seem anti-features:

- Static site generator: One-time compile + deploy auto-triggered by commit/PR, sta

[2021-05-02 16:07] mawoka-myblock commented on #167
I know that! I would also prefer something else but @adeekshith wants Docsify

[2021-05-02 16:14] mawoka-myblock commented on #167
Done with that!

[2021-05-02 16:34] mawoka-myblock commented on #245
@adeekshith should I create the website also for Russian?

[2021-05-02 16:42] mawoka-myblock commented on #245
There is also the _sidebar.md

[2021-05-02 19:18] adeekshith commented on #167
Oh I need to check how Jekyll works with GitHub. I thought we need to compile ourselves or use GitHub actions like thing to deploy Jekyll sites. I'll take a look. Thanks for clarifying it @aschrijver 😊

[2021-05-03 10:06] OpenWarp commented on #245
Done translating https://github.com/adeekshith/watomatic/tree/docs/ghpages/docs except for screenshot images and Github privacy policy. The latter is beyond the scope of this project. How do I go about translating images? Please advise.
[docs_ru-rRU.zip](https://github.com/adeekshith/watomatic/files/6414216/docs_ru-rRU.zip)

[2021-05-03 10:16] mawoka-myblock commented on #245
Added it in #246

[2021-05-04 03:19] adeekshith commented on #245
I could not find a quick way to do that via Crowdin. Will ask them and see if I missed anything.
I should also figure out how to integrate website translations with Crowdin. Will do that this week.

Thanks a lot @OpenWarp for the translations and @mawoka-myblock for adding it to the website 😃🙌

[2021-05-04 03:53] adeekshith opened #248 "Auto reply SMS"
A user requested this feature via email to support auto reply for SMS.

Filing here to keep track. Vote for this issue if you want this too.

Two ways to do:
1. Support generic SMS
  This is what most users would like and this needs a totally different code base. This can also add some architecture level complexities but can be explored
2. Support individual SMS apps
  If we can programatically de

[2021-05-04 07:48] OLLI-S commented on #95
This should be no problem, because secret chats are not enabled by default.
So most chats are not "secret" and you can reply them.
And a message below the "Enable Watomatic for Telegram" option telling users that "Secret chats can not be automatically replied" would be OK in my eyes (I am a Usability Engineer).

Would be fantastic if you can differentiate.
Maybe a little work-around: when the chat

[2021-05-04 07:49] OLLI-S commented on #189
@adeekshith
I added my Google Play rating for your app (5 stars).
And please read my comment above.

[2021-05-04 08:31] OLLI-S opened #249 "Supporting Watomatic -> need YOUR help"
### @All Watomatic users
I am a user of Watomatic (like you) and I have no relations to the author.
**Watomatic helps me a lot** (auto-replying my WhatsApp messages and telling people to move to Signal).
Watomatic can also auto-reply messages from the Facebook messenger (have not tested it yet) and **maybe** in the future Telegram will be supported too (see https://github.com/adeekshith/watomatic/

[2021-05-04 13:51] OLLI-S commented on #202
I also support this suggestion

[2021-05-04 13:54] adeekshith commented on #189
Hi @OLLI-S 👋😃
Thanks a lot!

It would be more user friendly to show it on the main screen directly below the switch "Auto Reply ON".

Sorry I saw your message when you posted. Wanted to give a bit detailed reply but then procrastinated and missed it 🙈.

Few reasons why it is hidden in the settings:
- Support small screens
  On smaller screens, the options get overflowed and users cannot view them

[2021-05-04 13:55] OLLI-S opened #250 "Separate Auto-Reply-Text for the Messengers"
In Watomatic I have created a text, that fits perfectly to **WhatsApp**.
But when you implement **Telegram** (https://github.com/adeekshith/watomatic/issues/95), then the arguments in this text are no longer working, here I nedd another text with other arguments.

So, please add an option to have
* One Auto-Reply-Text for all messengers (current behaviour)
* Individual Auto-Reply-Text for each pro

[2021-05-04 14:05] adeekshith commented on #249
Thanks a lot @OLLI-S
Very glad to receive first donation!! This made my day 😃🙌

It still shows 0% as it is still shown as pending. Liberapay might take some time to update I guess.
Thanks a lot on behalf of Watomatic community for your donation and kind words. This keeps us going!

[2021-05-04 15:30] OLLI-S commented on #189
This is right, changing a setting after wards that changes the behaviour is confusing users.
You are totally right!

This would be a good way to inform users about new features...

You do a fantastic job, continue implementing new features.
You have only some usability issues that needs an urgent fix.

I suggest that you move all options on the main window and **add scrollbars**.
Scrollbars indica

[2021-05-04 22:36] adeekshith opened #251 "[website] Save user's language in local storage instead of in a cookie"
Discussion: https://github.com/adeekshith/watomatic/pull/246#issuecomment-832292402

[2021-05-04 22:47] adeekshith opened #252 "Support intent filter so other apps can set Watomatic auto reply message"
Watomatic should support an intent filter (deep links) which other apps can use to set auto reply message on Watomatic with user permission.

For example, any other messenger app can pass a message to watomatic "Contact me on Xyz app. My id: 999999" using an intent say `watomatic://auto-reply?message=Contact%20me%20on%20Xyz%20app.%20My%20id%3A%20999999`. That should open an activity asking the use

[2021-05-05 00:54] adeekshith commented on #252
Android docs for deep linking: https://developer.android.com/training/app-links/deep-linking

[2021-05-05 06:57] #251 closed

[2021-05-05 06:57] mawoka-myblock commented on #251
#253

[2021-05-05 14:00] #245 closed

[2021-05-05 14:00] mawoka-myblock commented on #245
Is live on the website! Good job, @OpenWarp

[2021-05-05 14:02] mawoka-myblock commented on #167
Everything removed except JavaScript which isn't possible at the moment. Thanks for the advice, @aschrijver !

[2021-05-05 14:02] #167 closed

[2021-05-06 06:31] aschrijver commented on #167
Thank you for considering these improvements :)

PS. There's one tracker still present, atm: Google Fonts (fonts.googleapis.com)

[2021-05-06 06:33] mawoka-myblock commented on #167
Yes, there is a problem with the script which updates everything

[2021-05-06 06:34] mawoka-myblock commented on #167
it would work if @adeekshith would remove the protection for the github-pages branch if possible

[2021-05-06 13:58] adeekshith commented on #167
Oh removing branch protection totally is not safe as any contributor including myself can accidentally push to it without a PR. Will see if I can exclude Github Actions from branch protection.

[2021-05-06 14:00] mawoka-myblock commented on #167
Ok I am not that familiar with protected branches. If that won't work, the script could create a new branch and a pr

[2021-05-06 14:10] adeekshith commented on #167
@aschrijver Is there anything specifically wrong with jsdelivr CDN or do you just mean not to use a CDN?

IMO if the CDN is good enough privacy wise, there is not much we are gaining by self hosting.

Advantages of CDNs:
- Browsers can efficiently cache the script
- Can be faster than self-hosting
- In our case we are anyways not self hosting for real (Github Pages)
- By self hosting scripts, we a

[2021-05-06 14:13] adeekshith commented on #167
Yayy! Thats good. Making it create a PR should fix the issue. We can also make it run it once a day instead of once every 2 hours.
Thanks @mawoka-myblock

[2021-05-06 14:15] mawoka-myblock commented on #167
It runs every two hrs?! My fault, I wanted to set it for every week!

[2021-05-06 14:17] mawoka-myblock commented on #167
I need to have a look how an action create a pr

[2021-05-06 14:23] adeekshith commented on #167
Oh no probs. Yeah once a week should be good.

I just saw this line on `cron: "0 2 * * *"` and thought it is once every two hours. My mistake. It is daily at 2am :)
[https://crontab.guru/#0_2_\*\_\*\_\*](https://crontab.guru/#0_2_*_*_*)

[2021-05-06 14:24] mawoka-myblock commented on #167
But still wrong...

[2021-05-06 17:06] aschrijver commented on #167
CDN's are often used to save bandwidth and data transfer when self-hosting a site. On busy sites this can save you money. Using GH Pages is an argument _for_ self-hosting the script too.

The fact that EFF Privacy Badger marks this CDN as a tracker means it has been found to track cross-site browsing behavior. In theory a CDN provider can be ethical and proper, but they pay for that service and th

[2021-05-06 22:11] adeekshith commented on #167
Oh that is not acceptable. Thanks for pointing this out.

That is true. I am just a Git purist and this irks me a little 😄. But I agree this is a reasonable compromise for now.

In the near future, will explore Jekyll or something similar.

Thanks a lot for your time and insights @aschrijver . That really helped!

[2021-05-07 04:00] #252 closed

[2021-05-09 18:54] OpenWarp commented on #245
@mawoka-myblock Thank you so much and may I suggest the hard to notice "Translations" link in the top right-hand corner to be replaced with the flag icon plus 3-letter language name. Then it's up to you to either put the flags in one line since there are few or to make it a drop down list. And would you be so kind to make sure Russian language reads "Russian" and not "Russia." Thanks.

[2021-05-09 19:02] mawoka-myblock commented on #245
Will have a look at it. Maybe tomorrow!

[2021-05-10 04:01] adeekshith commented on #245
@OpenWarp How is "Russian" written in Russian? Is this correct: "русский"

[2021-05-10 08:15] mawoka-myblock commented on #245
Which flag should I take for the translation-button?

[2021-05-10 08:32] adeekshith commented on #245
I think just the localized language name and code should do for now.

Like this:

English (EN)
Deutsche (DE)
Русский (RU)

But if you like the idea of flags:
🇺🇸 English (EN)
🇩🇪 Deutsche (DE)
🇷🇺 Русский (RU)

I am slightly reluctant with idea of flags on the website as some languages are equally popular in more than one countries. Example, Tamil is equally spoken in India and Sri Lanka. So  we migh

[2021-05-11 14:00] OpenWarp commented on #245
Great job @mawoka-myblock ! Just updated the links in strings.xml via Crowdin, except for privacy policy link which is marked as non-translatable and is therefore hidden by Crowdin.

[2021-05-12 04:32] adeekshith commented on #245
@OpenWarp Made the privacy policy url translatable 😊

[2021-05-12 05:48] adeekshith opened #267 "Add meta tags to the Website watomatic.app"
We need to add meta (OG) tags so the link previews get generated when shared online.
Can preview here: https://www.opengraph.xyz/url/https:%2F%2Fwatomatic.app%2F/

[2021-05-13 00:15] adeekshith opened #270 "Language does not change on a few devices"
Language does not change on a physical device Samsung S10 plus Android 11.

Settings appear to be saved but app still shows in English. App does not even restart after language change for a few languages.

Works well on Android 10 and 11 VMs.

Tested reinstalling the app and also cleared all data.

@spuday90 any idea what could be going wrong?

[2021-05-13 09:52] mawoka-myblock commented on #267
Fix in #268

[2021-05-13 12:04] #267 closed

[2021-05-14 07:04] OpenWarp commented on #245
@adeekshith The `url_privacy_policy` string does not appear in Crowdin for some reason.

[2021-05-15 18:48] iMonZ opened #279 "Add support for Linux"
Is it possible to add Linux cli support?
It would be a nice feature to put this application on my RaspberryPi.

[2021-05-16 10:05] spuday90 opened #280 "Show what's new for the installed version of app, not just for the latest version"

[2021-05-17 11:58] adeekshith opened #281 "Redirect all pages to language specific web page based on browser language"
For now, only the homepage is being redirected based on language. Privacy policy page is not. This needs to be fixed.
https://github.com/adeekshith/watomatic/issues/245#issuecomment-838527003

[2021-05-17 12:00] adeekshith commented on #245
Looks like Crowdin has some issue updating when a String is changed from non-translatable to translatable. Should probably change the string key. But redirecting automatically based on browser language is a better thing to do. Tracking it here: #281

[2021-05-17 12:02] mawoka-myblock commented on #281
Will do that ASAP.

[2021-05-17 12:06] adeekshith commented on #281
Thank you @mawoka-myblock 😃

Looks like it is redirecting to German but not to Russian.

[2021-05-17 12:11] mawoka-myblock commented on #281
That can't be...

[2021-05-17 12:17] adeekshith commented on #281
Ah! Trying to access privacy policy page with German language is redirecting to German homepage (not privacy policy). Will check with your PR.

[2021-05-17 12:42] adeekshith commented on #281
Thanks for addressing this so fast @mawoka-myblock
Merged it. Was not working on my end though. Check this sometime when you get time 😊

[2021-05-19 03:14] adeekshith opened #284 "Test the app on Android 12 (S)"
It seems there are some changes regarding notification access when screen locked.

Need to test Watomatic on Android 12 with screen locked with pin:
- [x] Lock screen notifications ON and contents shown
- [x] Lock screen notifications ON and contents hidden
- [x] Lock screen notifications OFF

[2021-05-19 03:25] adeekshith commented on #284
Working fine on Android 12 🎉

[2021-05-19 03:25] #284 closed

[2021-05-20 05:40] #280 closed

[2021-05-22 14:14] mawoka-myblock commented on #279
It won't be possible, because Watomatic uses the notification-api from android. You could set up an android-vm on your raspberry pi and install it there.

[2021-05-22 14:14] #279 closed

[2021-05-22 14:18] mawoka-myblock commented on #279
Here is a tutorial how to set up an android-vm: https://docs.mau.fi/bridges/go/whatsapp/android-vm-setup.html

[2021-05-23 13:57] iMonZ commented on #279
Maybe there is a possible way with xamarin?

[2021-05-23 13:58] iMonZ commented on #279
All right I’m gonna try that thanks

[2021-05-23 14:02] mawoka-myblock commented on #279
It won't be possible, because Watomatic looks for notifications on your device. Theny if a notification comes from WhatsApp, it taps the `reply` button and pasts the text you set up in  Watomatic. (Not really like this but you can imagine like this). So Watomatic doesn't communicate with WhatsApp directly, it communicates with the WhatsApp notifications over an Android-notification-api.

[2021-05-26 04:26] #270 closed

[2021-05-30 00:19] adeekshith opened #296 "Manual language change does not work on first click"
Manual language change does not work on first click when trying to change from "Settings" menu. Clicking on it the second time works fine though.

Tested on S10+ on current main. Behavior is the same in released version.

[2021-05-30 15:50] #296 closed

[2021-05-31 05:12] adeekshith opened #299 "Ask users to rate on Play store only for Google Play build"
As of now we have a single build flavor for Google Play as well as for F-Droid so we are also asking F-droid users also to rate on Google Play.
We should create separate build flavor for Google Play and include it only in that.

Not a high priority but it is the right thing to do.

[2021-05-31 09:28] hegocre commented on #299
What if instead of creating two flavors, we simply check if app was installed from Google Play, with some function like [this](https://stackoverflow.com/questions/37539949/detect-if-an-app-is-installed-from-play-store)?

[2021-05-31 15:16] adeekshith commented on #299
That's probably what we need. Didn't know about that. Will try doing that. Thanks @hegocre ☺️

[2021-05-31 15:33] spuday90 commented on #299
That's great idea. But it will be a temporary fix. If we have to do further customizations and say implement google rate api.

[2021-05-31 15:41] adeekshith commented on #299
Yep, but as long as we are not including Play specific libraries, this looks like a good thing to do 😊

[2021-06-01 15:50] rajib-raiyat opened #300 "Add timer to auto message"
If I do not respond to the message in that time, then the message will be automatically sent.

Suppose I set a time to 5 minutes. If a person message me and I don't reply him within 5 minutes then the automatic message will be sent to that person.

[2021-06-02 03:33] spuday90 opened #301 "Move "Add attribution" option to "Settings""
Give an option to remove the attribution which is appending in auto reply message in settings page.

[2021-06-02 03:45] adeekshith commented on #301
We can move it to settings and remove it from Editor activity

[2021-06-02 03:47] spuday90 commented on #301
Lets keep it in editor activity, its the fastest and obvious way for a user to enable it.

[2021-06-02 03:48] spuday90 commented on #301
Also was thinking below save button will provide a preview option

[2021-06-02 03:50] adeekshith commented on #301
Context for others stumbling upon this thread:
Users are going to "Settings" to search for an option to change Watomatic attribution settings and they are not finding it there. Some popular YouTubers had that problem too: https://youtu.be/3l6tjozJoj8?t=413

So considering moving it to "Settings" instead

[2021-06-02 03:53] adeekshith commented on #301
Can file a separate issue for that but it is not a priority.

[2021-06-02 04:44] #299 closed

[2021-06-02 05:10] spuday90 opened #304 "Move enabled apps list to separate Fragment"

[2021-06-03 06:16] mexicancartel opened #306 "Support for mod whatsapp."
Enable support for other whatsapp mods like gbwhatsapp (or let us give package name).

Since they use same type of notification, hope it will be simple

[2021-06-03 06:23] adeekshith commented on #306
Sure! Received a few other requests to support 8 other WhatsApp mods, discord etc. To officially support all the apps may not be possible with our current resources.

Providing a feature to accept package names sounds good! Will try to implement that this month.

([Previous reply on Reddit](https://www.reddit.com/r/watomatic/comments/nelrdh/discord_support/h05sy5x/))

[2021-06-04 07:27] quaqo commented on #181
Hi there. Any update on this?

[2021-06-04 18:10] adrielsand commented on #95
Could this be worked on? Would love to use this top move away from Telegram

[2021-06-05 02:16] adeekshith commented on #181
Hi @quaqo Will get to it this week.
There was an issue where Watomatic was not working on many devices (battery optimization was killing the app) which was a higher priority so had to work on that. That took a very long time as it is device specific and there is no standard way to fix it. Releasing that update in a day and this is next. Will try to release this by next friday.

This is not happeni

[2021-06-05 02:24] adeekshith commented on #95
Hi @adrielsand
Before adding official support for Telegram, planning to allow users to add any app they need it for. There are no guarantees it would work but should mostly work.

My reply here: https://github.com/adeekshith/watomatic/issues/306#issuecomment-853602010

[2021-06-05 03:55] adrielsand commented on #95
@adeekshith thanks for your reply! When do you think it would be ready?

[2021-06-05 05:49] adeekshith commented on #95
Cannot guarantee but will plan to do it by end of this month 😊

Bug fixes are usually higher priority than implementing new features but trying to maintain a balance and do our best with the limited resources we got. Past month was mostly working on improving compatibility on all devices. Some are fixed but may need to do more to make the app not get killed by battery optimizations.

([see if you

[2021-06-06 05:53] rajib-raiyat commented on #300
@adeekshith Any update for `this` ?
Thank you

[2021-06-06 18:56] adeekshith commented on #300
Hi @rajib-raiyat
This is a nice feature to have but there are other frequently asked features in the queue so will get to it after tackling those. Might take a couple months considering the current queue and limited resources 😊

In the queue: #202, #95, #181, #306, ...

▸ [See if you can contribute and help us accelerate ➚](https://github.com/adeekshith/watomatic#contribute)

[2021-06-07 02:07] #143 closed

[2021-06-07 02:18] adeekshith commented on #304
This needs to be implemented before working on #306

[2021-06-08 22:27] #202 closed

[2021-06-08 23:55] adeekshith opened #318 "Contacts selection feature improvements (Sort, Search) RFE"
We now have contacts exclusion/inclusion feature, thanks to @hegocre. Here are some improvements I had in mind:

- [ ] Move contacts selection to separate activity ([something like this](https://github.com/adeekshith/watomatic/issues/236#issue-870456291))
- [ ] Sort contacts by selected first
- [ ] Provide search feature
- [ ] Add floating material  "+" button to add custom strings/patterns so use

[2021-06-09 23:17] hegocre opened #322 "Language change not working when app downloaded from Play Store"
I was just checking some things of some app of mine and i realized language was not changing sometimes (I use same method as used here). So I checked this app as well and it has the same problem.

After a long time trying to fix this issue, i found [this](https://github.com/YarikSOffice/lingver#app-bundles).

Basically, when the app is uploaded as aab to Google Play, only the locales selected by t

[2021-06-10 03:05] adeekshith commented on #322
Thanks @hegocre 😃
Including Play core libraries might need us to create separate flavors as F-droid does not accept those libraries. I think disabling split by language might be fine. Guessing size increase should not be significant for our app.

[2021-06-12 20:28] 123chuck123 commented on #243
Did you get a chance to check if it's possible?

[2021-06-13 03:52] adeekshith opened #323 "Activity titles not being translated"
Might be we hardcoded it somewhere

![100px](https://user-images.githubusercontent.com/2568945/121794776-bed1f900-cbd0-11eb-87ca-c2dc2a3ef362.png)

[2021-06-13 10:23] hegocre commented on #323
Looks like it's happening with all of the titles.

![AboutActivity](https://user-images.githubusercontent.com/15657088/121803374-84ed0b00-cc41-11eb-97b5-5e8c92d0ecfd.jpg)

[2021-06-13 13:50] #323 closed

[2021-06-15 12:11] hegocre commented on #318
I will implement each one of these on separate PR as I have time (some are easier than others to implement)

[2021-06-16 23:16] adeekshith commented on #318
Regarding save button, we should also think how it fits when we implement search.
<img width="300" alt="Screen Shot 2021-06-16 at 5 48 31 PM" src="https://user-images.githubusercontent.com/2568945/122305653-df4dcc00-cecc-11eb-88d5-e5e7fa8f53c2.jpeg">

Another common UX pattern these days instead of save button is to use an undo button. May be a [Snackbar](https://developer.android.com/reference/co

[2021-06-18 13:30] adeekshith commented on #318
Thinking about this more, only actions that need confirmation in the contacts selector UI are "Select All" and  "Select None". So we can have confirmation dialog for those.
Individual checkbox clicks are easily undo-able by the user so those can be saved without confirmation. Let me know what you think.

[2021-06-18 13:49] hegocre commented on #318
So you suggest saving the contact list immediately after every change?

[2021-06-18 13:55] adeekshith commented on #318
Yes, we can save the contact list immediately except for "Select All" and "Select None" where we show a confirmation dialog when the user clicks on them.

[2021-06-18 14:20] adeekshith commented on #318
We can do whatever is easy for now but just logging thoughts for the future. Adding a confirmation dialog while going back as you suggested might do for now.

[2021-06-19 19:43] hegocre commented on #318
Shouldn't be difficult to implement. We can move the methods to save the configuration changes to the recycler view adapter, so we can call the methods from both the adapter and ContactHelper, and then simply save the configuration when a checkbox is selected. We also implement a method to create a "checkpoint" whenever the select all or none buttons are pressed, so we can show the undo option.

[2021-06-26 13:57] #304 closed

[2021-07-01 23:17] #322 closed

[2021-07-07 13:20] releyannu commented on #318
Hey,

I am new to this world and would love to contribute wherever I can, if you dont't mind can I pick the search functionaly for contact selector?

[2021-07-07 13:45] hegocre commented on #318
It's perfectly fine for me. However, I would recommend you to wait for the custom string options to be implemented, so you don't have to rewrite the search functionality again. I'm planning to implement it this weekend, though I could try to do it sooner if needed.

[2021-07-12 15:01] hegocre commented on #318
@releyannu As the custom contacts feature is now implemented, feel free to implement the search feature. If you have any question don't hesitate to ask me!

[2021-07-12 21:47] hegocre commented on #318
Hey @adeekshith , I was reading the telegram discussion on the latest release and thought of a new feature, which is allowing users to enable contact based reply without enabling contact permission (now that we support custom strings, it's not strictly necessary). What do you think?

[2021-07-13 13:28] adeekshith commented on #318
Sounds good! We can instead have a button in the Contact selector UI to enable system access permission (better ideas welcome).

[2021-07-14 04:22] adeekshith opened #342 "Enabled apps card on MainActivity should be clickable anywhere"
This is a blocker for release
https://github.com/adeekshith/watomatic/pull/305#issuecomment-869005095

[2021-07-14 11:48] hegocre commented on #318
I think of two options

- Leave it as a contact selector, which would work the same way as it does now. If the user does not accept the permission, the feature is enabled anyway, but with a warning saying that they will only be able to add custom strings.
- Rename the feature as "Name filtering" (a better name should be thought), and create the new option to allow the app to read the contacts and

[2021-07-14 11:49] hegocre commented on #318
Also, another think we can do, unrelated to this, is read the contact names as well as it's numbers, to allow contact filtering for users that don't allow WhatsApp the read contacts permission (saw a user saying this on the telegram discussion as well).

[2021-07-15 14:32] adeekshith commented on #318
First one is good but we should provide a UI where users can enable contacts access later.

[2021-07-15 14:37] adeekshith commented on #318
Yeah right! That would be awesome. Actually I didnt think about this too until the user mentioned 😃

Possible issue we need to look for with number matching is the country codes and number formatting. Users may save the number as "2170990999" but WhatsApp notificattion may show it as "+1 217-099-0999" or "+1 (217) 099 0999". Did not check it myself but just a possible issue.

[2021-07-17 14:13] hegocre commented on #318
You are right. Looks like it will be difficult, it will be very hard to be 100% accurate, because of spaces, country codes, etc. Maybe the easiest way would be to remove spaces, "-" and other symbols if any, and if there's no country code stored in the contact, assume it's correct.

[2021-07-20 04:53] #181 closed

[2021-07-29 12:00] hegocre opened #346 "Remove code warnings"
There are some warnings along the code which could be fixed easily. Should we start working on them? I could do it for most of the files.

[2021-07-30 05:28] adeekshith commented on #346
Awesome! That would be a good thing to work on next. Thanks @hegocre

[2021-07-30 14:03] #342 closed

[2021-08-03 13:10] DeWarner opened #347 "[Enhancement] alternative reply frequency for group chats"
I want to be able to set a general frequency for groups different to direct messages.

Personally for direct messages it makes sense to have response per message,
But on groups that would be spam behaviour so I would want to put it at 7+ days,
possibly even a month or longer

[2021-08-04 07:24] menachem-dev opened #348 "replays to groups even when group replay is switched off"
replays to groups even when group replay is switched off

[2021-08-06 15:02] kyoforkshomebrews opened #349 "Always-On notification reappears after a restart even though it is switched off."
I switched off the always on notification in watomatic but it still reappears after a restart. My workaround for now is to enable, then disable the option again.

[2021-08-06 15:03] adeekshith commented on #348
This is fixed recently. Willplan to release this in a week.
Thanks for reporting 😊

[2021-08-06 15:03] #348 closed

[2021-08-06 15:05] adeekshith commented on #349
Oh right! Noticed this recently. This will be fixed. Thanks for filing the issue 😊

[2021-08-06 15:11] kyoforkshomebrews commented on #349
Thank *you* for the great app tho, hadn't had any other issues with it so far :)

[2021-08-14 05:36] spuday90 opened #352 "implement jetpack compose views"
The objective of this task is to use jetpack compose views and split the components

[2021-08-18 06:12] #349 closed

[2021-08-19 09:16] hegocre opened #354 "Custom contact filter allowing empty values"
Custom contact names feature is not checking for empty strings, as @spuday90 stated here: https://github.com/adeekshith/watomatic/pull/351#pullrequestreview-733504692

[2021-08-20 04:31] #354 closed

[2021-08-20 07:01] yuhuitech opened #357 "The version number is blocked and cannot be seen fully"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the about page, **the version number not be seen fully**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)**.
Because of some problems with my eyesight, I often use the largest font and

[2021-08-26 02:47] spuday90 opened #361 "Check for existing custom contact name before creating one"
As can be seen in the screenshot i could create multiple custom contacts with exactly same string.

![Screenshot_2021-08-26-08-15-47-540_com parishod watomatic](https://user-images.githubusercontent.com/16569510/130892042-07abf458-b546-49f2-99e0-73a125021034.jpg)

[2021-08-27 22:13] #361 closed, assigned to nobody

[2021-08-28 01:33] hegocre commented on #318
Hey @releyannu

Are you still up to implementing the search feature? You can go ahead whenever you want, or just tell us if you are too busy or not interested anymore so we can pick it up!

Thanks!

[2021-09-01 02:17] spuday90 commented on #357
Fixed in #358

[2021-09-01 02:17] #357 closed

[2021-09-01 02:24] spuday90 commented on #241
Fixed in f0072e

[2021-09-01 02:24] #241 closed

[2021-09-22 17:22] codefireXP opened #366 "messages not being replied"
The group chats are being replied to but the private messages are not. I noticed that when the app is in foreground, it replies with some hiccups but when in background, the messages do not reach the sender. So, I turned battery optimisation for the app but still it does not work. I had the auto-reply option on and the reply frequency is default (it's in beta so I tried not to touch it) and also t

[2021-09-29 17:56] dinhhant9 opened #367 "Can't use with Messenger Lite"
I think the app should support with Messenger Lite. Thanks

[2021-10-01 02:56] spuday90 opened #370 "Migrate Project to Jetpack Compose"

[2021-10-15 00:13] Lukas2112 opened #372 "Mastodon account for this project"
Would a Mastodon account for this project be possible?

[2021-10-23 21:01] lordflash opened #374 "Participate in hacktoberfest"
Please add the `hacktoberfest` topic to the repository.

See https://hacktoberfest.digitalocean.com

[2021-10-30 21:46] Goldmaster commented on #306
This would be very good, that way we can use modded Facebook messenger and Instagram apps to let people know to get off these bad platforms.

[2021-11-05 06:11] aniket691 commented on #238
i will take this issue

[2021-11-14 14:09] DemonRem opened #376 "iOS version"
Hello @adeekshith

can you add iOS support for iPhones?

[2021-11-19 09:09] neog5 commented on #237
Hey @adeekshith,
I would like to work on this. Just had one question.
Release notes of all the releases are supposed to be added, or just the latest one?

[2021-11-24 14:42] Goldmaster commented on #347
Had this issue with my mums work WhatsApp, some people went into panic mode and thought it was a hack. (Why?) My mum has said that its responded to a group chat even with the setting for group replys turned off. My mum did say that there was a 1 in red over the WhatsApp icon, turns out it's a missed call, so it may be a reason for watomatic for somehow auto responding to a missed call on a group c

[2021-11-24 15:23] adeekshith commented on #347
Hi @Goldmaster 👋 There was an issue with WhatsApp wrongly notifying group chat notifications as direct messages a few times. We placed some safeguards in previous release and a few more improvements are not yet done. Will plan to make a release by next week. Hopefully that will make it better.

There is currently no way I can debug what exactly happened on your mom's phone though as we did not inc

[2021-12-11 15:25] Edithchaverra opened #378 "Amor chaverra"
Es muy bueno la aplicacion
![Snapchat-1377428827](https://user-images.githubusercontent.com/95965178/145681972-97466aa4-fe34-4ef5-a264-a3ee95d6924e.jpg)

[2021-12-11 15:25] #378 closed

[2022-01-30 15:34] jumaris88 opened #380 "message reply with own server"
Please add this feature.

[2022-03-09 20:04] rugk opened #381 "How did you create those nice screenshots?"
Wow how did you create those nice screenshots that do have these nice marketing quality with looking great in a slideshow…? :upside_down_face:

[2022-03-09 20:06] rugk commented on #381
Though BTW I'd say the first two could be improved: IMHO the same screenshot should be shown on both because when you slide it, it otherwise makes no sense.

I know you want to show the dark mode but hmm… it's even another page, so at least the same page to avoid the visual "cut" in there. And maybe you can also place that dark mode demo in another screenshot…

[2022-03-16 14:41] Lir10 opened #382 "App not working on Huawei P10 lite"
is there any known devices that the app doesn't work on them?
Seems like on my Huawei P10 lite the app doesn't reply automatically at all
I'm testing it with WhatsApp

[2022-03-19 14:54] mawoka-myblock commented on #381
I've asked @adeekshith the same a year ago or so and I *+think**  it was the following website, but I am not 100% sure: https://studio.app-mockup.com/

[2022-03-19 14:54] mawoka-myblock commented on #380
What do you mean by that? Replying to a custom app?

[2022-03-19 14:55] mawoka-myblock commented on #376
That's not possible, because Watomatic uses the Android notification framework, which, surprisingly, doesn't exist on iOS.

[2022-03-19 14:55] #376 closed

[2022-03-19 14:56] mawoka-myblock commented on #374
I think that this is unfortunately over...

[2022-03-19 14:56] #374 closed

[2022-03-19 15:00] adeekshith commented on #381
Yep, thats the website I used to generate contiguous screenshots. And I used "Snapmod" app to generate device frames. I am surprised you remembered it and thanks for the reply @mawoka-myblock 😃

Noted. Thanks for the feedback @rugk 😊

[2022-03-19 15:00] #381 closed

[2022-03-19 15:02] mawoka-myblock commented on #381
Yes, I've just searched a bit and one of this website was a bit familiar, so I suggested it!

[2022-03-19 15:05] adeekshith commented on #382
Try enabling Settings -> "Always-On notification" in Watomatic. That should prevent Android from killing the app in the background. But it is not working on a few devices even with that as some of them disabled those "WatchOS" APIs that Watomatic uses to function

Duplicate of #134

[2022-03-19 15:05] #382 closed

[2022-03-19 15:06] adeekshith commented on #372
That would be great. Which instances would you recommend?

[2022-03-19 15:08] Lukas2112 commented on #372
Could I imagine social.tchncs.de or a regional instance?

[2022-04-06 08:15] JakeHL commented on #372
I would always recommend fosstodon.org however I understand that some people dislike it as its an English only instance

[2022-04-06 08:21] Lukas2112 commented on #372
The great thing about Fediverse is that you can choose an instance and are not limited to one. :)

However, If the Watomatic project joins the Fediverse, I see as a win-win situation.

[2022-04-06 08:23] JakeHL opened #386 "Reply frequency is not honored"
im on mobile so sorry for formatting and spelling. ill fix it up when I can.

I've got my reply frequency set to once every 2 days, however I've had the app auto reply two times in the space of a few minutes.

Not sure what other information I can provide to be helpful so heres anything I can think of:

Ive only seen it happen for a group chat (I've not been messaged frequently directly, lately to

[2022-04-06 11:01] JakeHL opened #387 "Forward messages to matrix"
I appreciate this is not an insignificant amount of work so please feel free to close if it's out of scope or littering the issues.

I think it would be great if watomatic could act as an on device whatsapp to matrix bridge. It has the ability to read and respond to messages so theoretically messages could be forwarded to matrix and the response deferred until the user replies via matrix.

I think

[2022-04-06 11:16] JakeHL commented on #367
This might get closed with #340 so worth keeping an eye on.

[2022-04-06 11:23] JakeHL commented on #248
Would this be closed with #340? or at least reduce the scope?

[2022-04-06 11:25] JakeHL opened #388 "Attribution toggle does not update character count"
As the title says, toggling the watomatic attribution doesn't update the message character count. It should either bump up the 'used' character count or bring down the 'available' character count.

Personally I think the latter is clearer given there is currently no preview for the message.

[2022-04-06 11:28] JakeHL commented on #370
Duplicate of #352

[2022-04-06 11:28] JakeHL commented on #370
I have just seen you also created that other issue? 🤔

[2022-04-07 15:10] adeekshith commented on #386
Hi @JakeHL. We fixed the group chat reply frequency issue sometime ago but it was not released. Planning to make a release soon that should fix it. The issue basically was when images are sent in group chat, WhatsApp was not marking that as an individual message sometimes so Watomatic was getting confused.

[2022-04-07 15:10] #386 closed

[2022-04-07 17:25] JakeHL commented on #386
Ah, noted, thanks!

[2022-04-07 18:59] adeekshith commented on #387
I think we should think of a plugin architecture for Watomatic to implement these kinds of features. Each plugin will be a separate app and when installed will communicate with main Watomatic app to do its job. In this case the plugin can be a Matrix client which forwards messages received by Watomatic to Matrix just like SmsMatrix.

Implementing plugin architecture may require more work but these

[2022-04-07 20:48] JakeHL commented on #387
I love that approach, really good idea! I've done done android dev before but it's something I've been meaning to play with so maybe I can help the project in other ways too. I'm glad my donation helped.

P.S. I didn't even realize who you were at the time of the conversation, despite using the app for a while but we had a great chat about vanishing messages on Mastodon the other day (I'm Jaik/two

[2022-04-08 03:24] adeekshith commented on #387
Yes, that'd be awesome 🙌

Oh I didnt realize that either 😄. Very nice meeting you here!
( Context for others: https://mastodon.technology/@dsoft/108029395293274729 )

[2022-04-14 20:07] mawoka-myblock commented on #380
I'll close it since i didn't get any response, but feel free to re-open the issue.

[2022-04-14 20:07] #380 closed

[2022-04-14 20:08] mawoka-myblock commented on #237
I'd just add a link to the installed version

[2022-04-14 20:09] mawoka-myblock commented on #366
Any updates? Could please post your android-version and your phone-manufacturer?

[2022-04-14 20:11] #209 closed

[2022-04-14 20:13] adeekshith commented on #237
Oh sorry, don't know how I missed this comment. Agree with @mawoka-myblock comment above. We can get the current installed version of the app and link to it.

[2022-04-14 20:28] mawoka-myblock commented on #243
@adeekshith is this a `good first issue`?

[2022-04-14 20:30] mawoka-myblock commented on #221
@adeekshith News?

[2022-04-14 20:31] mawoka-myblock commented on #170
Is this done?

[2022-04-14 20:33] #160 closed

[2022-04-14 20:35] mawoka-myblock commented on #102
What do you mean?

[2022-04-14 20:40] adeekshith commented on #243
Could not find a way to detect the profile info from the notification itself last time I checked.

Will check this again next week or try to get help from others.

[2022-04-14 20:42] #221 closed

[2022-04-14 20:43] adeekshith commented on #221
Could not reproduce it on my phone

[2022-04-14 20:43] #170 closed

[2022-04-14 20:48] adeekshith commented on #102
Updated the title.
We are currently using "Watomatic" hardcoded string so it remains the same in all languages. Instead we should make it translatable

[2022-04-14 20:52] mawoka-myblock commented on #102
Now it makes sense, but i wouldn't know why you would want to translate it. A name doesn't change in different languages (at least not in any I "know")

[2022-04-14 21:00] adeekshith commented on #102
I think the right word to use is transliteration and not translation.

Basically the way it is pronounced remains the same but the script is different in different languages.

For example in Telugu (my native language), it would be written as: వాటోమాటిక్

[2022-04-15 09:41] mawoka-myblock commented on #217
@adeekshith Still a thing?

[2022-04-15 09:42] mawoka-myblock commented on #225
@spuday90 is this still a thing?

[2022-04-15 12:16] #225 closed

[2022-04-15 12:16] #217 closed

[2022-04-15 12:16] adeekshith commented on #217
Fixed a while ago

[2022-04-18 02:09] Lukas2112 commented on #372
Was there a request at fossrodon.org for a Mastodon account for the project @JakeHL ?

[2022-04-18 08:16] adeekshith commented on #372
Yes! Created it this week. `@watomatic@fosstodon.org`  https://fosstodon.org/@watomatic

And posted for the first time just now. Check it out 😃

[2022-04-18 08:16] #372 closed

[2022-04-21 07:00] 7echno5haman opened #392 "Facebook Messenger bug?"
Watomatic won't auto reply to Facebook messengers, WhatsApp works fine

[2022-04-21 08:01] mawoka-myblock commented on #392
Could you please tell us a bit more about your system? (Android version, manufacturer, etc)?

[2022-04-22 14:22] JoJk0 commented on #392
Same here, not replying to Messenger messages, even with notifications from Messenger showing up.

OnePlus 8T
Oxygen OS 11.0.13.13.KB05BA

[2022-07-02 09:52] Lir10 opened #396 "Use LocalBroadcastManager instead of context.sendBroadcast()"
There are few places that we use context.sendBroadcast() which might cause a crash in some devices as suggested in this thread: https://stackoverflow.com/questions/46971153/fatal-exception-android-app-remoteserviceexception-cant-deliver-broadcast-at

We should use LocalBroadcastManager instead to send local broadcasts

https://github.com/adeekshith/watomatic/blob/main/app/src/main/java/com/parisho

[2022-08-03 20:42] Lukas2112 opened #399 "Migration to independent platform for provision of source code"
### A. Problem / Goal
Since the purchase of GitHub by Microsoft in 2018, a dependence on the BigTech corporation can no longer be denied.

On the one hand, I can understand why GitHub was chosen as the platform for making source code available: "Everyone is here".

On the other hand, I see the danger of a vendor-lockin effect and that open source projects become centrally dependent on Microsoft. I

[2022-08-03 20:54] mawoka-myblock commented on #399
All in all, good idea, BUT this would mean remaking the CI and loosing the great weblate integration, but it's @adeekshith decision. In general, I can understand why Codeberg is better, but GitHub is just better integrated with a better user-experience and, not to mention, a greater community.

[2022-08-03 21:00] Lukas2112 commented on #399
Of course, it wouldn't be an "overnight" move, but would have to be well coordinated beforehand so that things like the CI work to the same extent.

Weblate itself could also be connected.

The effort would be so high in terms of personal resources that I would assume it would take more than one person to set up everything equally at Codeberg over a period of weeks / months.

[2022-08-04 17:50] adeekshith commented on #399
Hi @Lukas2112 👋
Thank you for raising the issue. So much so as I would like to prefer an open platform wherever possible, I will have to agree with @mawoka-myblock for now.
- Our translation systems, CI/CD etc are integrated with Github and migrating to a different system would need significant work. We are lacking resources right now to continue our regular development at full scale so would like

[2022-08-04 17:50] #399 closed

[2022-08-04 21:31] Lukas2112 commented on #399
@adeekshith, I can understand your points very well and I first wanted to draw attention to the problems that GitHub poses, even though I can also understand why GitHub was chosen, so basically.

The effort to implement a federation function in Gitea will be a gamechanger in my opinion and also promote independence of open source software and hardware projects from GitHub or GitLab (gitlab.com ; s

[2022-08-30 16:50] te2dy opened #400 "Always-On notification setting ignored after restarting the phone"
Hello,

I have disabled the Always-On notification in the app's built-in notification settings, but when I restart my phone, the notification appears.

To make it disappear, I have to go to the app settings, then enable and disable the settings again.

I'm using version 1.20, and my phone is running Android 10 (/e/OS 1.2).

Otherwise, the app has been running smoothly for months! Thank you.

[2022-09-18 16:25] gable44 opened #401 "[Info] Contact based replies with FB messenger"
Hello,

Can someone help me, how is the contact based replies with FB messenger?
Is it matching the Names in the notification with my Contacts?

Thanks in advance.

[2022-09-23 21:38] ShockedCoder commented on #301
So where is it now? I can't find it anywhere.

[2022-09-23 22:01] ShockedCoder commented on #388
Where did you find the toggle to disable the attribution?
I've been looking through the app and the code for the past 30 mins and I can't find it fir the life of me.

[2022-09-24 13:01] ShockedCoder opened #403 "[FEATURE REQ] Make attribution toggle more obvious."
I've been searching for it for the past day, and I can't find the toggle in the app nor the code.

[2022-09-25 22:11] xmha97 opened #404 "WhatsApp Business"
Please support "WhatsApp Business"

![Screenshot_2022-09-26-01-39-01-207_com.parishod.watomatic.jpg](https://user-images.githubusercontent.com/23485114/192167833-6b950b1c-7a62-4590-bfed-5f5253572534.jpg)

[2022-09-26 07:46] SameExpert opened #405 "Support for WhatsApp calls"
Supporting WhatsApp calls also would be very helpful.

[2022-09-27 16:35] geekiyer commented on #404
I will try to work on this issue!

[2022-10-06 19:36] ShockedCoder commented on #403
**WHERE THE HELL IS THE TOGGLE!?**

[2022-10-06 19:47] adeekshith commented on #403
Current version of Google Play has it in the editor: https://t.me/WatomaticChat/227

Moved it to "Settings" in the future versions

[2022-10-06 19:48] #403 closed

[2022-10-06 19:50] adeekshith commented on #405
WhatsApp call notifications do not seem to be having a "quick reply" field so I believe it is not possible

[2022-10-06 19:50] #405 closed

[2022-10-06 19:51] adeekshith commented on #400
Fixed in the current version. Released to Izzyondroid. F-droid and play store release in the pipeline

[2022-10-06 19:51] #400 closed

[2022-10-07 18:46] ShockedCoder commented on #403
I got it from F-Droid, though?

[2022-10-07 18:46] ShockedCoder commented on #403
The editor
![Screenshot_20221007-214635_Watomatic.jpg](https://user-images.githubusercontent.com/40272709/194628456-82efca85-2217-4b56-b1a8-813913d5f9db.jpg)

[2022-10-22 06:52] Lir10 opened #406 "Fatal Android 12: Exception: startForegroundService() not allowed due to mAllowStartForeground false"
Now that Google Play is require apps to target api level 31 we can't use startForegroundService() from the [keepAlive service](https://github.com/adeekshith/watomatic/blob/main/app/src/main/java/com/parishod/watomatic/service/KeepAliveService.java#L98) as it will result in exception due to running a foreground service from the background.
See: https://stackoverflow.com/questions/70044393/fatal-and

[2022-10-22 18:18] adeekshith commented on #406
Thank you for reporting this @Lir10. Will plan to work on this once I get some free time. But in case you or other contributors can pick this up, that will be a lot of help. Thank you!